[2012-08-14 15:43] tonyarnold opened #1 "Crash in bit_URLEncodedString"
I'm using HockeySDK.framework for iOS version 2.5.1 in my app (I've just updated), and I'm seeing the following crash:

[code]

[2012-08-21 11:30] ashtom opened #3 "Make private methods static to prevent name conflicts"
In https://github.com/bitstadium/HockeySDK-iOS/blob/develop/Classes/UIImage%2BBITHockeyAdditions.m#L36, the methods MyOpenBitmapContext and CreateGradientImage are defined in the global namespace. Either use the keyword "static" to make them local or prefix the method names with "bit_".

[2012-08-29 09:19] #3 closed, assigned to DerAndereAndi

[2012-08-31 12:54] diederich opened #4 "Re-entering the app doesn't trigger check for updates"
While on first launch HockeySDK checks for updates, it does not on subsequent launches of the app.

says so, but it just doesn't do it :)

[2012-09-05 16:12] florianbachmann opened #6 "Expose updateURL from BITUpdateManagerPrivate & BITCrashManagerPrivate to their public counterparts"
Hi,
is it possible, to expose the `updateURL` property from its private categories to their public interface.
That would be nice for overriding the update URL to two separate server urls (maybe `adhoc.server.com` & `crash.server.com`)

so please consider moving these lines
`// set the server URL
@property (nonatomic, retain) NSString *updateURL;`

from `BITUpdateManagerPrivate.h` to `BITUpdateMana

[2012-09-13 01:36] stuartkhall opened #7 "iOS6 / iPhone 5"
Hey,

I'm trying to build with support for the new iPhone and getting:

ld: file is universal (3 slices) but does not contain a(n) armv7s slice: /<snip>/HockeySDK-iOS/CrashReporter.framework/CrashReporter

Cheers,
Stuart

[2012-09-13 03:11] #7 closed, assigned to nobody

[2012-09-13 03:21] #4 closed, assigned to nobody

[2012-10-05 21:46] lhasiuk opened #12 "ApplicationLoader appears to reject binaries containing HockeySDK-iOS"
When I uploaded my app to the AppStore, I received the following message from ApplicationLoader:

The app references non-public selectors in <app name>.app/<app name>: ping

Looking through BITHockeyManager.m, I came across the following line:

if ([jmcInstance respondsToSelector:@selector(ping)]) {
    [jmcInstance performSelector:@selector(ping)];
}

Although my app is currently "Waiting For Rev

[2012-10-10 21:25] #12 closed, assigned to nobody

[2012-10-28 07:27] tonyarnold opened #14 "Update screens are all messed up when using UIAppearance customisation"
I'm not sure there's an easy answer to this one, but HockeySDK's update screen seems to override some of the UIAppearance defaults that I'm setting in my app, ending up with all kinds of odd UI happening whenever an update is available. It looks really unprofessional in my app.

Could HockeySDK offer it's own UIAppearance customisations, or not customise the colours of the navigation bar and so fo

[2012-10-28 09:07] #1 closed, assigned to nobody

[2012-11-28 17:01] rs opened #15 "Replace PLCrashReporter by KSCrash?"
Looks like [KSCrash](https://github.com/kstenerud/KSCrash) is a new crash reporter able to catch more crashes and to get extract info than PLCrashReporter.

Do you plan on switching to this lib in HockeySDK?

[2012-11-28 22:33] #6 closed, assigned to nobody

[2012-12-03 22:05] pauley-unsaturated opened #17 "String constants in header files have static storage classifier"
This causes warnings due to unused variables to show up when compiled with LLVM.

Specifically: the bad variables are: kBITCrashManagerStatus, kBITCrashErrorDomain and kBITUpdateErrorDomain.

These should be either:
1) changed into #define's
2) marked with **attribute**((used)) (which is wasteful and should be avoided)
or
3) changed into extern with the storage residing in some .m file linked into

[2013-01-18 23:59] evandelaney opened #24 "Documentation - Advanced Usage (Git Submodule)"
Documentation does not state that CoreText framework needs to be linked against.

[2013-01-22 12:39] itsthejb opened #26 "Offer option to make Hockey initialisation and reporting synchronous?"
`BITCrashManager` makes delayed performs in order to not block the app initialisation process.

https://github.com/bitstadium/HockeySDK-iOS/blob/develop/Classes/BITCrashManager.m#L536
https://github.com/bitstadium/HockeySDK-iOS/blob/develop/Classes/BITCrashManager.m#L541

However, this can lead to Hockey entirely missing crashes that happen during the startup process.

Perhaps it would be nice to

[2013-01-22 13:54] #26 closed, assigned to nobody

[2013-02-01 10:44] 0xced opened #29 "Add arbitrary data in a feedback message"
I’m aware this is a huge request, but it would be awesome to be able to send some `NSData` in addition to text in a feedback message.

This is one of the examples I have in mind:
[code]

[2013-03-07 17:47] #15 closed, assigned to nobody

[2013-03-07 17:49] #24 closed, assigned to nobody

[2013-03-07 17:49] #17 closed, assigned to nobody

[2013-04-17 12:13] iosdeveloper opened #35 "Hockey shouldn't mess with the status bar style"
Why are you overriding the status bar style at all?

[2013-04-17 17:34] #35 closed, assigned to nobody

[2013-04-17 22:19] devinfoley opened #36 "Crash when you fool around with the update screen."
Our test team is pretty good:

"This is a random flow, but I can reproduce it every time: When there's an update, tap Show → Update → Cancel → Done → close app → open app → Show → app crashes every time."

HockeyApp created a new crash group.

Reason:
**\* Terminating app due to uncaught exception 'NSRangeException', reason: 'Cannot remove an observer <BITUpdateViewController 0x20b96d90> for the k

[2013-04-17 22:45] #36 closed, assigned to nobody

[2013-04-19 18:00] devinfoley opened #37 "Override HockeySDK.strings"
We'd like to change the message UpdateAlertMandatoryTextWithAppVersion. It looks like  the BITHockeyLocalizedString only looks at files in the Hockey resource bundle. Is there a way of providing our own custom language?

Thanks!

[2013-05-08 11:15] DerAndereAndi opened #38 "Provide a delegate for the feedbackmanager to inform about new incoming messages"
When the system detects a new message, trigger a delegate to inform the application about this message so it can handle it on its own e.g. in case it disabled the automatic alerts.

[2013-05-13 14:49] bdewater opened #39 "CocoaPods deprecation warnings"
Seems like stuff has changed w/ version 0.18 of CocoaPods (see this [this thread](https://groups.google.com/forum/?fromgroups=#!searchin/cocoapods/Specification$23config$20is$20deprecated.$20The$20config$20is$20accessible$20from$20the$20parameter$20passed$20to$20the$20hooks/cocoapods/Na5iujI8k4Q/zR1fSFx2b2IJ) on Google Groups). I'm getting the following warnings when adding the HockeySDK to my pro

[2013-05-14 13:50] #39 closed, assigned to nobody

[2013-05-24 08:02] krusche opened #42 "Allow to check whether a feedback message was really sent"
We can use the BITFeedbackComposeViewControllerDelegate to thank the user for providing feedback.

The only problem is that we do not really know in the delegate method:
- (void)feedbackComposeViewControllerDidFinish:(BITFeedbackComposeViewController *)composeViewController

whether the feedback was really sent to the server. It would be nice if you can provide this information in this delegate me

[2013-06-24 19:23] casey55 opened #44 "Addresses in crash report don't agree with Xcode crash report"
Addresses in crash report don't agree with Xcode crash report.  They all seem to be off by 5.  Has anybody else seen this?

Any ideas on what I'm doing that could cause this?

Thanks!

[2013-06-28 16:56] RestlessThinker opened #45 "Fix deprecation warnings"
![bit](https://f.cloud.github.com/assets/1472984/723266/b5d81688-e013-11e2-8a4d-7aa9bb3f377e.png)

[2013-06-28 16:59] #45 closed, assigned to nobody

[2013-07-01 13:26] #14 closed, assigned to nobody

[2013-08-07 14:49] JanVanharaBP opened #46 "UIActivity"
Hello,

Im adding Hockey SDK to my app (iOS 5.0), but you use inside code UIActivity and UIRefreshControl Which is iOS 6.0 and which causes unknown reference error. Is this code HockeySDK-iOS really version for iOS 5.0, or i am doing something wrong?

Thank you,
Jack

[2013-08-07 15:31] #46 closed, assigned to nobody

[2013-08-28 21:35] glesage opened #50 "UITextAlignments are deprecated in iOS 6.0"
'UITextAlignmentLeft' is deprecated: first deprecated in iOS 6.0

Appears in a whole lotta places. I can convert those to iOS6.0 friendly and make a pull request when they're good (:

[2013-08-28 21:40] #50 closed, assigned to nobody

[2013-09-12 15:08] paulyhedral opened #51 "Update PLCrashReporter for arm64"

[2013-09-13 10:08] #38 closed, assigned to DerAndereAndi

[2013-09-13 10:09] DerAndereAndi opened #52 "Move beta expiration from BITUpdateManager to BITHockeyManager"
This property doesn't really belong into BITUpdateManager and is rather a generic feature (for non app store environments)

[2013-09-13 10:10] DerAndereAndi opened #53 "Move JMC configuration into its own module"
Configuring the JMC client with HockeyApps Jira settings doesn't really belong into the BITUpdateManager and should be moved into its own BITJiraIntegrator module.

[2013-09-13 10:11] DerAndereAndi opened #54 "Update modules to use BITHockeyAppClient"
Use the new central network api client in all modules.

[2013-09-13 10:12] #44 closed, assigned to nobody

[2013-09-13 10:13] #42 closed, assigned to nobody

[2013-09-16 17:47] paulbruneau opened #57 "use of ping selector is causing app submission warning"
I'm getting a warning during validation that I'm using the ping selector. It seems to be in the hockey framework (BITHockeyManager.m)

I see the thread on https://github.com/bitstadium/HockeySDK-iOS/issues/12#issuecomment-9197693

Apparently, it won't cause a rejection, but can't this call be removed at some point to save stomach acid?

[2013-09-18 18:00] idpaterson opened #58 "Please add -viewControllerForAuthenticator:"
I like the `-viewControllerForUpdateManager:` delegate concept. Our applications use multiple windows and it was always problematic to have the HockeyKit update UI appear behind the frontmost window.

Following that trend, would it be possible to add a similar `-viewControllerForAuthenticator:` concept to `BITAuthenticatorDelegate` so that it too could respect our custom windows?

[2013-09-19 18:38] #58 closed, assigned to diederich

[2013-09-27 11:54] dennisreimann opened #63 "Cannot find protocol declaration for 'BITFeedbackManagerDelegate'"
When using the SDK (3.5.0 RC 2) via CocoaPods, I get this error in `BITFeedbackManager.h`

[code]

Adding the import [at the top of `BITFeedbackManager.h`](/bitstadium/HockeySDK-iOS/blob/develop/Classes/BITFeedbackManager.h#L35) fixes it

[code]

[2013-09-27 12:39] #63 closed, assigned to nobody

[2013-09-27 19:54] stepanhruda opened #65 "Deprecated specification in podspec"
https://github.com/bitstadium/HockeySDK-iOS/pull/56 has moved podspec to using a deprecated specifications `resource` and `prepare_command`.

Cocoapods gives a warning when installing the library now

[code]

Can you move back to the recommended `resource_bundle` specification?

[2013-10-02 16:00] Timac opened #68 "Leaking result of SecItemCopyMatching"
+[BITKeychainUtils getPasswordForUsername:andServiceName:error:] is leaking the result object of the call SecItemCopyMatching:

OSStatus status = SecItemCopyMatching((__bridge CFDictionaryRef) attributeQuery, &attrResult);

The vairable "attrResult" should be released. This issue occurs with HockeyApp SDK 3.5.0rc2.

![instruments](https://f.cloud.github.com/assets/738543/1254849/c2d6ddd4-2b7b-11e3

[2013-10-02 17:13] #68 closed, assigned to nobody

[2013-10-02 18:41] idpaterson opened #69 ""Remind Me" is not translated"
All languages with the exception of German translate the `UpdateRemindMe` key to English _Remind Me_. At a glance it looks like everything else is translated except the authentication dialogs which will not be shown in production apps.

[2013-10-03 15:22] idpaterson opened #70 "Authenticator intercepts URLs if urlScheme is elsewhere in the app, causes UDID to reset"
I love the custom `urlScheme` for authentication because it makes integration easy without requiring a URL based on the app ID. However, it was not clear in the documentation that the authenticator will attempt to handle all URLs with that scheme as if they were a UDID-containing URL.

I set the `urlScheme` to a generic scheme that is based on the bundle ID. In QA we found that a few navigational

[2013-10-04 09:54] #70 closed, assigned to nobody

[2013-10-08 18:07] ehlersd opened #71 "I'm getting an assertion failure on startup"
**\* Assertion failure in -[BITAuthenticator storeInstallationIdentifier:withType:], /Users/darren.ehlers/Documents/Clients/Gateway/git/tableproject/phoenix-ios/Phoenix/Pods/HockeySDK/Classes/BITAuthenticator.m:609

Any ideas as to what the problem may be?

[2013-10-09 13:57] #37 closed, assigned to nobody

[2013-10-11 08:11] #71 closed, assigned to nobody

[2013-10-21 15:28] larsxschneider opened #72 "Crash if the app makes a UIView transition right at the beginning"
Hi,

I get this crash:

Exception Type:  SIGABRT
Exception Codes: #0 at 0x387b51fc
Crashed Thread:  0

Application Specific Information:
**\* Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Attempting to begin a modal transition from <MyClass: 0x165033c0> to <UINavigationController: 0x179582c0> while a transition is already in progress. Wait for viewDidAppear

[2013-10-31 16:32] cdzombak opened #74 "Implicit conversions of UITextAlignment and UILineBreakMode"
In HockeySDK v3.5.0-rc3, targeting iOS 7, I get some warnings about suspicious implicit conversions:
- `HockeySDK/Classes/BITAttributedLabel.m:87:68: Implicit conversion from enumeration type 'NSTextAlignment' (aka 'enum NSTextAlignment') to different enumeration type 'UITextAlignment' (aka 'enum UITextAlignment')`
- `HockeySDK/Classes/BITAttributedLabel.m:101:60: Implicit conversion from enumerat

[2013-10-31 16:33] cdzombak opened #75 "Implicit conversions of CGImageAlphaInfo to CGBitmapInfo"
In HockeySDK v3.5.0-rc3, targeting iOS 7, I get some warnings about suspicious implicit conversions:
- `HockeySDK/Classes/BITHockeyHelper.m:281:80: Implicit conversion from enumeration type 'enum CGImageAlphaInfo' to different enumeration type 'CGBitmapInfo' (aka 'enum CGBitmapInfo')`
- `HockeySDK/Classes/BITHockeyHelper.m:424:62: Implicit conversion from enumeration type 'enum CGImageAlphaInfo' t

[2013-10-31 20:05] #69 closed, assigned to nobody

[2013-10-31 20:06] #65 closed, assigned to nobody

[2013-10-31 20:06] #57 closed, assigned to nobody

[2013-10-31 20:06] #72 closed, assigned to nobody

[2013-11-04 23:55] stevenp opened #78 "Automatic update prompt no longer works"
It was working in 3.5.0-RC2 but in the final release it no longer shows. Reverting to 3.5.0-RC2 causes it to work again, but it fails in both RC3 and the final release.

[2013-11-05 00:15] #78 closed, assigned to nobody

[2013-11-08 22:50] leontiy opened #80 "Add file attachment API"
Wouldn't it be nice to be able to send some logged goodness along with the latest crash report? That would greatly alleviate the pain of reproducing many non-obvious crashes. Such API would accept an attachment for each crash log providing a time stamp of a crash (in order to be able to select a reasonable log fragment to attach). In our case we would be happy to attach a log of HTTP requests to o

[2013-11-11 12:32] #80 closed, assigned to nobody

[2013-11-22 11:58] djehring opened #81 "Documentation build error"
I suspect this is an Appledoc bug (although we use Appledoc internally and haven't encountered it on our own builds). Using the latest build of appledoc 2.2 (963) the Documentation build script errors with :

2013-11-22 11:47:24.972 appledoc[92159:507] -[__NSCFNumber length]: unrecognized selector sent to instance 0x337
ERROR: NSInvalidArgumentException: -[__NSCFNumber length]: unrecognized select

[2013-11-25 11:25] #81 closed, assigned to nobody

[2014-01-07 17:11] #51 closed, assigned to nobody

[2014-01-10 01:23] jmah opened #85 "Use 0 instead of kNilOptions"
The `kNilOptions` constant is from the old, old MacTypes.h header (along with gems such as `Register68kProcPtr`). Please use "0" per Apple's examples.

[2014-01-10 01:55] #85 closed, assigned to nobody

[2014-01-15 17:23] elektrojunge opened #86 "Update 3.5.1 Podspec with GCC_PREPROCESSOR_DEFINITIONS for BITHOCKEY_BUILD"
I just wanted to push the podspec for 3.5.1. It doesn't lint as the GCC_PREPROCESSOR_DEFINITIONS for BITHOCKEY_BUILD is missing.

Tell me what BITHOCKEY_BUILD should be and I update the spec :)

[2014-01-16 21:51] #86 closed, assigned to nobody

[2014-01-16 21:51] #75 closed, assigned to nobody

[2014-01-16 21:51] #74 closed, assigned to nobody

[2014-01-25 23:42] jkmassel opened #88 "Value Conversion Issue"
Integer Precision Warnings when compiling:

BITAuthenticator.m:697:39: Implicit conversion loses integer precision: 'off_t' (aka 'long long') to 'unsigned long'

BITAuthenticator.m:698:27: Implicit conversion loses integer precision: 'off_t' (aka 'long long') to 'size_t' (aka 'unsigned long')

[2014-01-25 23:53] #88 closed, assigned to nobody

[2014-02-05 00:18] orta opened #89 "No option to mute "detecting crashes is not enabled""
[code]

I see this every time my app launches, it would be nice if I could disable the log.

[2014-02-05 16:06] #89 closed, assigned to nobody

[2014-02-14 10:46] pietbrauer opened #90 "HockeySDK fails to compile"
Hey,

we get a compile error in our test suite. We used HockeySDK 3.0.0, yesterday I updated to 3.5.3 but it does not find the CrashReporter framework.

Rolling back to 3.5.0 fixes the issue.

It complains in [line 39](https://github.com/bitstadium/HockeySDK-iOS/blob/develop/Classes/BITCrashManager.h#L39) of BITCrashManager.

[2014-02-14 12:11] #90 closed, assigned to nobody

[2014-03-11 19:48] mlilback opened #93 "missing header file"
BTCrashAttachment.h needs to be made Public instead of Project. HockeySDK.h includes this file but it isn't in the exported header files.

[2014-03-13 13:14] JensAyton opened #94 "Expose PLCrashReport to crash delegate"
In addition to sending crash reports to Hockey, we send summary information to our own cross-platform analytics system. In order to do this, we currently scrape for PLCrashReports generated by Hockey, duplicating logic in the SDK. This is obviously undesirable (and slightly absurd). Now that PLCrashReporter headers are bundled with the SDK, can we have a delegate method that’s called exactly once

[2014-03-14 00:39] pkasson opened #95 "Upgrade to 3.5.4 from 3.0 - missing classes ?"
Just upgrade and getting these errors, can't find classes in Pod:

Undeclared identifiers:

BITPLCrashReporter
BITPLCrashReporterConfig
... etc ...

[2014-03-14 18:10] yreifschneider opened #96 "Crash when trying to upload crash report"
Hello,

HockeyApp is causing a crash right after starting my app. When restarting the app crashes again. I have no chance but to delete the app and install it again.

I attached a crash log.

[code]

[2014-03-27 08:56] hffmnn opened #97 "Manual updating is not possible"
When setting the
`[[BITHockeyManager sharedHockeyManager] updateManager].updateSetting = BITUpdateCheckManually;`
and calling
`[[[BITHockeyManager sharedHockeyManager] updateManager] checkForUpdate];`
the network request is never made, because it looks like it does not make it over this check:

[code]

`[self shouldCheckForUpdates]` returns always `NO` which is (in my opinion) wrong or at least th

[2014-03-27 10:25] calimarkus opened #98 "[NO BUG] Localization broken"
Never use simple .lproj folder within a pod, that will be shared with other projects. This will destroy localization of the main app for any language that TUSafari supports, but the main app does not support.

Instead you should use your own bundle, include the .lproj files there and use NSLocalizedStringFromTable..

[2014-03-27 11:16] #98 closed, assigned to ashtom

[2014-03-27 17:45] #95 closed, assigned to nobody

[2014-03-27 17:45] #93 closed, assigned to nobody

[2014-03-27 17:45] #96 closed, assigned to nobody

[2014-03-28 18:35] MattFoley opened #99 "Namespace configuration similar to PLCrashNamespace.h?"
I need to rename all of the symbols in both PLCrashNamespace and HockeyApp in order to use this SDK safely. I was just wondering if HockeyApp had any functionality similar to the PLCrashNamespace.h file that PLCrashReporter uses.

PLCrashNamespace.h allows you to change one define in order to prepend all of the symbols in the compiled .a in order to avoid duplicate symbol conflicts with other libr

[2014-04-07 16:50] #99 closed, assigned to nobody

[2014-04-15 16:01] 0xced opened #100 "NSLog vs BITHockeyLog"
There are 13 `NSLog(@"[HockeySDK] …"` and 83 `BITHockeyLog` calls. Is that on purpose?

I’d like the `debugLogEnabled` property to be observed, especially for this log that I get at each launch:

[2014-04-15 16:09] #100 closed, assigned to nobody

[2014-04-27 17:39] #97 closed, assigned to nobody

[2014-05-07 00:45] agathe opened #103 "Application log data when sending crash reports"
I just started using the HockeySDK iOS library, and to send application log data I followed what was described on http://support.hockeyapp.net/kb/client-integration-ios-mac-os-x/how-to-add-application-specific-log-data-on-ios
The issue is that crash reports, in my case, are being sent through `sendCrashReports` and not `handleCrashReport`.
`sendCrashReports` does not call the delegate method `appl

[2014-05-07 01:07] #103 closed, assigned to nobody

[2014-05-30 23:32] #54 closed, assigned to DerAndereAndi

[2014-05-30 23:33] #53 closed, assigned to DerAndereAndi

[2014-05-30 23:33] #52 closed, assigned to DerAndereAndi

[2014-06-11 12:33] #94 closed, assigned to nobody

[2014-06-20 07:20] forgot opened #107 "Custom titles for feedback attachment files"
Would you be willing to add an option to set a custom filename for feedback attachments? I'm currently sending a screenshot and a log file using a custom `feedbackComposeViewController` trigger, and this works fine. The only problem is, both attachments end up having the same name when I go to view the feedback, which look something like`14__2_00_PM`. If possible, I'd like to be able to see someth

[2014-06-24 09:57] #107 closed, assigned to nobody

[2014-07-02 19:06] rromanchuk opened #108 "Podspec broken on RubyMotion builds"
When including HockeySDK 3.0+ using cocoa pods on a rubymotion project, the `HockeySDKResources.bundle` never gets copied into the build

[code]

Most likely unrelated to this SDK specifically, want to report for visibility and save people some frustration.

Simple reproducible project here
https://github.com/rromanchuk/BrokenHockeySDKLocalizations

[2014-07-03 05:15] #108 closed, assigned to nobody

[2014-07-14 09:45] tombell opened #109 "Authentication Token Storage Error"
Trying our Cordova application in the iOS 8 simulator in Xcode 6 Beta 3, which uses HockeySDK, when the app starts we get the error:

"Your authentication token could not be stored due to a keychain error. Please contact the developer of the app."

However, commenting out the HockeySDK init code makes this error go away.

[2014-08-18 10:35] jgarth opened #111 "Disengage single-app mode before mandatory update, reengage after."
Hey,

I'm distributing enterprise builds with HockeyApp. Great Stuff so far. However, on the client's devices, the App is locked in single-app mode, which prevents itms-service from doing the actual update.

iOS 7 provides a public API to request entering single-app mode and leaving it – [UIAccessibilityRequestGuidedAccessSession()](https://developer.apple.com/library/ios/documentation/uikit/refer

[2014-08-30 00:38] barrycburton opened #112 "Setting a Custom urlScheme on the Authenticator is Ignored"
When trying to use a `BITAuthenticator` `identificationType` of `BITAuthenticatorIdentificationTypeDevice` or `BITAuthenticatorIdentificationTypeWebAuth`, the value set on the `urlScheme` property is not used to construct the web URL passed to Safari, which means that the authentication web page always uses the default URL scheme. Since my app doesn't handle that URL scheme, tapping 'Authorize' ju

[2014-09-02 18:26] #112 closed, assigned to nobody

[2014-09-10 23:05] scheinem opened #114 "Problem with 'Build Active architecture only' flag set to NO for debug configuration"
Hello,

in commit d81e7381f53ed3817480b625944309eb5b9372aa you changed the 'Build active architecture only' flag from `NO` to `YES`(I think because it's recommended by Xcode's 'Upgrade scheme to recommend settings' feature). But this option causes problems for me when trying to run my application in simulator (Xcode complains `BITHockeyManager` isn't found for architecture i386 in libHockeySDK.a).

[2014-09-11 15:45] alexanderedge opened #115 "Using HockeySDK pod > 3.5.5 as dependency fails"
Hi there,

I'm using HockeySDK with [ARAnalytics](https://github.com/orta/ARAnalytics), and it has been working great until version 3.5.6, where it breaks my build (and ARAnalytics') with:

[code]

I've been doing some digging, and the issue is that PLCrashReporter headers are no longer being included in the Pods-HockeySDK target. Why? Well, there doesn't appear to be a critical difference between

[2014-09-18 09:25] x2on opened #116 "BITHOCKEY_VERSION macro redefined warning"
Since 3.5.7 i get the a lot of warnings with Xcode 6:

`'BITHOCKEY_VERSION' macro redefined`

Any idea how to solve this?

[2014-09-19 10:49] #116 closed, assigned to nobody

[2014-09-25 00:13] melvynhills opened #117 "App extensions support in beta crashes the app at launch on iOS 7"
I get this crash on iOS 7.1.2:

[code]

from this line (https://github.com/bitstadium/HockeySDK-iOS/blob/204020610129b8b24fd8a71945fc38fadbcb779d/Classes/BITHockeyHelper.m#L268):

[code]

[2014-09-25 08:16] #117 closed, assigned to nobody

[2014-09-25 13:48] Rupert-RR opened #118 "Update CocoaPods specs for version 3.5.7"
Hi, would you please add version 3.5.7 to the master CocoaPods specs?

[2014-09-25 14:06] #118 closed, assigned to nobody

[2014-09-30 10:02] orta opened #119 "Misnamed image resource"
Nothing big, but _the more you know_.
`▸ Copying HockeySDK/Resources/feedbackActiviy@2x.png`

[2014-09-30 12:26] #119 closed, assigned to nobody

[2014-10-11 16:20] mman opened #121 "An app compiled for AppStore and distributed via Apple TestFlight mistakenly prompts to install updates from hockey"
I have not investigated this yet, but it appears that app distributed via Apple TestFlight service correctly detects that it is not an "app store" version and therefore behaves as beta installed from hockey despite being installed via TestFlight.

I think we need a mechanism to distinguish betas that are distributed through Test Flight and Hockey from the same source code so that TestFlight versio

[2014-10-13 23:33] rromanchuk opened #122 "3.6.1 doesn't build with RM"
https://github.com/joenoon/motion-hockeyapp/issues/8

https://www.dropbox.com/s/azojq6hqcl2wc2b/HockeyBuildFailure.zip?dl=0

[2014-10-15 21:23] #121 closed, assigned to nobody

[2014-10-21 10:39] #109 closed, assigned to DerAndereAndi

[2014-11-02 16:56] rromanchuk opened #123 "SDK quickly turning into bloatware with two architectures"
Hey guys, with arm64 entering the market and soon to be required by all, I have been forced to audit the worst offenders of binary bloat.

Currently latest hockeyapp with arm64 and armv7, using the the spec, is coming out at 7MB, this is really too high, especially for those developers only using the core feature set.

Here is what i would consider a very conservative/standard Podfile
Facebook - 1

[2014-11-03 00:36] #123 closed, assigned to nobody

[2014-11-11 13:26] iChernov opened #125 "iOS 7: crash during creation of the crash reports"
Usage of the containsString: method of NSString, introduced in iOS 8, leads to app crash during creation of the crash report.

In particular: file BITCrashReportTextFormatter.m, line 543:

if (![imageInfo.imageName containsString:@".app/Frameworks/libswift"]) {

If it is declared, that "The SDK supports iOS 6.0 or newer." - this iOS 8 method should not be used.

[2014-11-11 13:28] #125 closed, assigned to nobody

[2014-11-28 09:45] Constantine-Fry opened #126 "UUID for the app installation on the device or reporterKey"
It's not that good good idea to keep some permanent UID for app installation. Users are really freaking out about any kind of tracking tools. Would be nice if framework can reset UID with each update or provide some method to control it.

[2014-12-03 10:35] #115 closed, assigned to nobody

[2015-02-03 08:53] oleg-ivaniv opened #128 "Localization issue"
Hi,
There is a problem with Spanish localization
![img_0070](https://cloud.githubusercontent.com/assets/2520289/6017033/6377d4c2-ab92-11e4-85c9-da415f595314.png)
Would be nice if this will be fixed (I also will try to fix it).

Thank you.

[2015-02-03 12:08] anlinde commented on #128
Hi,

could you provide some more details on this:

1. Which Xcode version are you using?
2. This iOS version is this tested with?
3. Is this using the iPhone simulator or device?
4. Which device type is this?
5. Are you using the binary distribution of our SDK?
6. Which version of our SDK are you using?

Thanks,
Andreas

[2015-02-03 12:13] anlinde commented on #128
This is what we get with iOS 8.1 on iPhone 6 simulator:

![ios 8 1 12b411 2015-02-03 13-11-18](https://cloud.githubusercontent.com/assets/10196267/6019954/51f69b34-aba6-11e4-85ad-0ab89b584b53.png)

[2015-02-06 16:41] oleg-ivaniv commented on #128
Hi,
I can see this issue on simulator and real device.
Which Xcode version are you using? - latest one
This iOS version is this tested with? - 8.1.2. (iPhone 6+) and 8.1.3.(iPhone 5s)
Is this using the iPhone simulator or device? - both
Which device type is this? - iPhone 6+
Are you using the binary distribution of our SDK? - pod
Which version of our SDK are you using? - latest one (3.6.2.)

[2015-02-06 16:47] anlinde commented on #128
We sadly can't reproduce this, so I have no idea what is causing this.

Can you reproduce the issue using the binary distribution instead of including the SDK using CocoaPods? http://hockeyapp.net/releases/

[2015-02-09 13:52] #29 closed

[2015-02-09 14:26] SpacyRicochet opened #129 "Pod doesn't build when using CocoaPods 0.36.0 beta"
The HockeySDK pod doesn't build properly after installing through the new CocoaPods 0.36.0 beta. According to the (Pod Authors Guide to CocoaPods Frameworks)[http://blog.cocoapods.org/Pod-Authors-Guide-to-CocoaPods-Frameworks/], the HockeySDK should be updated to accommodate this future version of CocoaPods properly.

![screen shot 2015-02-09 at 15 24 10](https://cloud.githubusercontent.com/assets

[2015-02-09 14:47] anlinde commented on #129
The SDK build has not yet been tested or updated to support CocoaPods 0.36.0 Beta. This is on our todo-list.

[2015-02-10 11:25] sticksen opened #130 "Several warnings with Xcode 6.3 beta"
![screen shot 2015-02-10 at 12 21 46](https://cloud.githubusercontent.com/assets/2657113/6126307/86d335be-b11f-11e4-9c27-afb92ea583f6.png)
![screen shot 2015-02-10 at 12 23 48](https://cloud.githubusercontent.com/assets/2657113/6126325/b3df2162-b11f-11e4-8d45-ef301f5939b4.png)

[2015-02-10 13:48] anlinde commented on #130
Hi,

these warnings are fixed on HEAD of the develop branch.

Thanks,
Andreas

[2015-02-10 13:48] #130 closed

[2015-02-12 15:56] oleg-ivaniv commented on #128
Yes, I tried binary distribution instead of including the SDK using CocoaPods and I have the same result.

[2015-02-12 16:05] anlinde commented on #128
Would it be possible to create a sample app which shows this issue for you and contact us via support at hockeyapp dot net?

[2015-02-16 11:38] akashivskyy opened #131 "Pod fails to copy its resources"
The HockeySDK-iOS pod fails to copy its `HockeySDKResources.bundle`:

[code]

The actual build and project's pods directory paths have been shortened to `/Path/To/Build/` and `/Path/To/Pods/` accordingly.

---

- **CocoaPods version:** 0.35.0
- **HockeySDK-iOS version:** 3.6.2

[2015-02-16 11:39] anlinde commented on #131
This is a bug in CocoaPods 0.36 Beta 2, see here: https://github.com/CocoaPods/CocoaPods/issues/3082

We recommend to either use a stable version of CocoaPods or the binary distribution of our SDK.

[2015-02-16 11:39] akashivskyy commented on #131
I'm using CocoaPods 0.35, as I wrote above. :stuck_out_tongue:

[2015-02-16 11:40] anlinde commented on #131
This doesn't happen with CocoaPods 0.35 in any of our tests and it is a documented bug in that specific beta version. Did you run `pod install` again?

[2015-02-16 11:51] akashivskyy commented on #131
Alright, I had a local Bundler's CocoaPods installation, which took precedence over the system's installation.

[code]

Sorry for trouble!

[2015-02-16 11:51] #131 closed

[2015-02-18 16:39] phix23 opened #132 "Crash in BITFeedbackListViewController.m, line 654"
I'm using the feedback module in my app and it crashed with the following crash report (truncated) on a  beta tester device:

[code]

[2015-02-18 16:40] anlinde commented on #132
Thanks for that. Did the tester provide some more information what he was doing before the crash?

[2015-02-18 16:46] phix23 commented on #132
No, but I know that he has a long feedback thread with several image attachments. I'm using HockeySDK 3.6.2.

Here is the relevant code where it crashed:
[code]

[2015-02-18 16:47] anlinde commented on #132
Ok thanks. Well try to figure it out.

[2015-02-18 23:11] rromanchuk commented on #129
Can you guys please move away from binary distributions and officially maintain and support a podspec? It's 2015 :kiss:   Also, your official integration HockeyApp.app client offers a cocoapod installation option, so most swift users are going to run into @SpacyRicochet issue since most of us are running 0.36

[2015-02-18 23:32] anlinde commented on #129
@rromanchuk please find some notes attached:

1. CocoaPods 0.36 is in Beta and has known issues that cause our SDK not to build properly, e.g. see here: https://github.com/CocoaPods/CocoaPods/issues/3082 (this is closed but there is no updated CocoaPods release with this included available).
2. Our recommended distribution is binary, because that always works no matter what your build settings are

[2015-02-19 00:25] rromanchuk commented on #129
@anlinde Just bad timing i guess. Started a new swift project today with 5 pods, and the build failed because of hockeyapp.

Maybe it just *feels* like you don't support the spec because of no official mention of `pod 'HockeySDK'` anywhere except during the HockeyApp.app installation flow.

[2015-02-19 14:18] anlinde commented on #132
I just pushed a fix onto the develop branch, see here: https://github.com/bitstadium/HockeySDK-iOS/commit/30375a0362abd78c8aa2c86de4e37d41b4d07c1b

This will be part of our next release, and can already by downloaded via our daily build from here: https://rink.hockeyapp.net/apps/3e4072df59ed320d3dba9279224f91b9

[2015-02-19 14:18] #132 closed

[2015-02-26 11:58] oleg-ivaniv commented on #128
Hi,
Contacted here http://support.hockeyapp.net/discussions/problems/35514-localization-issue

[2015-02-26 12:09] TheRealKerni commented on #128
We need a sample app that reproduces this issue, since we can't reproduce it here.

[2015-02-26 14:37] oleg-ivaniv commented on #128
I tried to create simple app, but there everything works fine.
Obviously, this is a bug from my side.
Sorry for that.

[2015-02-26 14:37] #128 closed

[2015-03-09 03:07] yonaskolb commented on #129
Has anyone found a workaround for this?

[2015-03-09 12:45] anlinde commented on #129
When using the release candidate of CocoaPods 0.36 it builds just fine over here.

[2015-03-13 01:18] yonaskolb commented on #129
Still doesn't work in the full release of cocoapods 0.36. It builds fine when loaded as a static library, but doesn't allow any swift pods to be integrated as this requires `use_frameworks!` which turns every pod into a framework. Building as a framework fails due to not finding CrashReporter.

If I add `HockeySDK/Vendor` to the header search path (which cocoapods is not adding when building as fr

[2015-03-13 01:26] anlinde commented on #129
Yes, using `use_frameworks!` in the Podfile in my sample project works just fine. Could you please create a sample app and try to reproduce the issue so we can check it ourselves?

[2015-03-13 02:46] yonaskolb commented on #129
Ok well these are the steps I followed for my sample app, which I've now repeated to double check
- created a new iOS project in Xcode 6.3 beta 3
- added a podfile with:
[code]
- `pod install` in terminal (cocoapods 0.36 full release)
- added `import HockeySDK` to AppDelegate which doesn't compile and says "Could not build objective-C module 'HockeySDK'
- clean and build  - fails with above error

[2015-03-13 20:00] wlisac commented on #129
I'm having the same issue. I've tried `master` and `develop`.

[2015-03-14 15:17] anlinde commented on #129
Thanks. I just fixed this in the develop branch.

Please use the following line in your Podfile for now to get the fixes until we release a new version:

    pod 'HockeySDK', :git => 'https://github.com/bitstadium/HockeySDK-iOS.git', :branch => 'develop'

[2015-03-14 17:48] dippnsk opened #136 "Inconsistency in log/attachment delegate callbacks and last session details setup"
Hi!

I have a case where I need to have last session crash details in applicationLogForCrashManager delegate. But in current implementation this is not possible, because order of calling callbacks not allows to do that:
[code]
I think, SDK must first set crash details and then request for additional content for this crash. In createCrashReportForAppKill I see exactly this behavior but in handleCra

[2015-03-14 17:54] anlinde commented on #136
Hi,

I just updated this in the develop branch so it will be part of the next release.

Best,
Andreas

[2015-03-14 17:59] dippnsk commented on #136
Wow, that was fast! :) Thanks! Will wait for release.

[2015-03-14 21:38] levieggert opened #137 "HockeySDK(3.6.2) CocoaPod(0.35.0 and 0.36.0) validation Warning"
Hey guys, hoping you can help me figure out this strange issue.  All of a sudden I'm getting a warning when I try to validate my pod spec.

The warning is coming from BITUpdateManager.m:746.

- WARN  | HockeySDK/Classes/BITUpdateManager.m:746:30: warning: code will never be executed [-Wunreachable-code]

I see in v 3.6.2 you had a fix for that warning by including the #else.

However, my local 3.6

[2015-03-14 22:09] levieggert commented on #137
Hey just realized I have to uninstall 0.36.0 to completely roll back.

Saw that in some related issues others were having with 0.36.0.

I am now able to validate my spec.  I'll stay on 0.35.0 for now.

Thanks!

[2015-03-14 22:09] #137 closed

[2015-03-15 05:34] anlinde commented on #137
This is already fixed in the develop branch.

[2015-03-16 19:11] tewha opened #139 "Other typos"
When looking for easily-corrected typos, I found a few that didn't look so easy. These are not part of my pull request.

Public API:

	- timeintervalCrashInLastSessionOccured
	+ timeintervalCrashInLastSessionOccurred

Other API, may be exposed:

	- BITFeedbackListViewCellPresentatationStyle
	+ BITFeedbackListViewCellPresentationStyle

	- BITFeedbackListViewCellPresentatationStyleDefault
	+ BITFeed

[2015-03-17 12:43] Sajjon commented on #129
@anlinde I just tried your specified pod settings, it does not work.

I still get " 'CrashReporter/PLCrashReport.h' file not found", on line 37 in file 'BITCrashReportTextFormatter.h'

I get this error either by:
* "#import <HockeySDK/HockeySDK.h>" in "MyApp-Bridging-Header.h" file
or
* "import HockeySDK" in "AppDelegate.swift"

I use Cocoapods 0.36.0 and Swift (Obviously) and 8.1 as deployment ta

[2015-03-17 12:55] anlinde commented on #129
1. You don't need to use the bridging header for this.
2. Did you make sure the Pod was actually updated and the code used by CoocaPods includes the changes from this commit? https://github.com/bitstadium/HockeySDK-iOS/commit/7cc280f45acacddd1f5062537e37f2a387485f7b

[2015-03-17 13:01] Sajjon commented on #129
@anlinde OMG how embarrassing, you are 100% right, it works perfectly - thanks a lot!
(never have two different Xcode projects using cocoapods and almost the exact same pods open at the same time in the terminal :P I was performing pod install on the wrong project. )

[2015-03-18 16:08] TheRealKerni commented on #139
Thanks Steven. Oh. My. Goodness. What did I do.

I decided to take all of these up except `HockeyFeedbackuserID`, since that would break existing apps and can't be easily fixed in code.

See https://github.com/bitstadium/HockeySDK-iOS/commit/7eef1c4075dd7d180c7ed9a45162133704c46f89

[2015-03-18 16:08] #139 closed

[2015-03-18 22:42] tewha commented on #139
Sounds good! `HockeyFeedbackuserID` is not really a spelling error, anyway, it's just weird and chokes spell checkers even if they handle camel case well.

[2015-03-18 22:54] tewha opened #140 "Paymeny-Button"
I think this was supposed to be Payment Button, but I wasn't sure. Forgot to include it in my list of not-pull-requested weirdness, because it was the first weird thing I ran into and hadn't thought to start the list yet. :)

https://github.com/bitstadium/HockeySDK-iOS/blob/develop/Classes/BITStoreButton.h#L70

[2015-03-18 22:56] tewha commented on #140
Actually, scratch that. I spotted another typo. I'll just open another pull request shortly.

[2015-03-18 22:56] #140 closed

[2015-03-25 11:19] kambala-decapitator commented on #129
thanks @anlinde !

[2015-03-25 18:56] tapi commented on #129
Was having this issue and your fix worked for me @anlinde

[2015-04-07 12:43] vGubriienko opened #145 "Can't use HockeySDK with Rollbar SDK"
I can't install HockeySDK via pods with next error:
`[!] The 'Pods-*********' target has frameworks with conflicting names: CrashReporter.`
The `CrashReporter` framework used in the Rollbar SDK.
Any thoughts how I can use them both (with disabled crash reporter in the Rollbar)

[2015-04-07 14:05] TheRealKerni commented on #145
You can use our SDK via the binary distribution. When building from source and two SDKs are including a framework with the same name, you will always have this issue.

[2015-04-08 11:24] Constantine-Fry opened #146 "SIGABRT: __pthread_kill in libsystem_kernel.dylib"
Hi,

4 month ago we updated HockeyApp from 3.5.5 to 3.6.2. Starting from that release we receive crashes with the following stack trace:
[code]

I'm not sure whether it's a bug in our application or in Hockeapp, but we never had such crashes with HockeyApp 3.5.5. Where should I look for the problem?

[2015-04-08 11:27] TheRealKerni commented on #146
Can you please provide a full crash report? Thanks.

[2015-04-08 11:42] Constantine-Fry commented on #146
Yes, sure.
[Foo](https://www.dropbox.com/s/w056byojh6hmfql/f9fee72d8b9823320b92f8c0ba8b8e18.txt?dl=0) and [Bar](https://www.dropbox.com/s/jkc99m3bzvohgtq/992d31b00c3a91b90eebdc6f35a1f0a3.txt?dl=0)

[2015-04-08 12:05] TheRealKerni commented on #146
We'll need some time to analyze this.

[2015-04-08 15:53] vGubriienko commented on #145
Thanks!

[2015-04-08 18:28] anlinde commented on #146
Hi again,

here is some more information:

1. This is not a bug in HockeyApp or the SDK
2. `libdispatch` does terminate the app right away if there is an exception occuring during `dispatch_client_callout` and eating the exception, see the source here: http://www.opensource.apple.com/source/libdispatch/libdispatch-228.23/src/object.m (Search for `dispatch_client_callout`)

So this doesn't look to

[2015-04-09 19:14] tewha opened #147 "Need 3.6.3 for Xcode 6.3"
When building in Xcode 3, there's 13 warnings:

`warning: using integer absolute value function 'abs' when argument is of floating point type [-Wabsolute-value]`

These are fixed in develop, but not on a tagged release; it would be good to have a release that fixed these.

[2015-04-09 20:18] Constantine-Fry commented on #146
Thank you!

[2015-04-09 20:26] #146 closed

[2015-04-09 20:27] anlinde commented on #147
You can use a daily build. We have some more changes planned before we release a new version.

https://rink.hockeyapp.net/apps/3e4072df59ed320d3dba9279224f91b9

[2015-04-10 06:38] sticksen commented on #147
+1 for tewha´s request.

[2015-04-13 09:12] anlinde commented on #147
We can't tag every commit as a new version when we say it is good. We have more changes planned, and also the interface in a component changed, so the next version will not be 3.6.3.

If you don't want to see compiler warnings (the current ones have no negative impact at all), we highly recommend not to integrate the SDK via source but use our binary distribution.

If you want and need the latest

[2015-04-13 20:52] smbarne commented on #147
I'd also like to vote for a branch off of 3.6.2 that fixes warnings for Xcode 6.3 that is a stable branched called 3.6.3 for what its worth.

[2015-04-13 23:16] tewha commented on #147
I still think the developers should do this, but I understand why they don't want to if they think most people use the binary distribution.

If you want 3.6.2 without the warnings you can do what I did: branch off 3.6.2 and cherry pick fc5f3808ac7eececa271fae7da3b83d410c4a556.

[2015-04-13 23:16] #147 closed

[2015-04-17 12:22] oleg-ivaniv opened #148 "Attached images bugs"
Hi,
During using HockeySDK-iOS I found some bugs.
Steps to reproduce:
1. Attach to feedback 2 or 3 images.
2. Select any image and press "Edit Image"

Expected result:
- selected image should be opened for editing

Actual result:
- some another image opened (not selected one)

Another issue:
Steps to reproduce:
1. Attach to feedback 2 or 3 images.
2. Select any image and press "Delete Image"

Expe

[2015-04-17 12:39] anlinde commented on #148
Hi Oleg,

thanks for reporting this. We already fixed this in the develop branch and will soon release an update with these fixes included.

Best,
Andreas

[2015-04-17 12:45] oleg-ivaniv commented on #148
Thank you for prompt answer!
Looks like I can close this issue.

Have a nice day!

[2015-04-17 12:45] #148 closed

[2015-04-17 17:37] ubrett commented on #147
If this was merely an open-source project, I could perhaps understand this rationale. But as a commercial project, introducing a swath of warnings into the projects of users because you want to wait (for an undefined amount of time) for a large release is not good stewardship. The last tagged release for the Hockey SDK was five months ago, and there have been dozens of commits (including the one f

[2015-04-17 17:47] anlinde commented on #147
@ubrett We will release a new version next week. You are also free to use the binary distribution which works just fine and doesn't require you to wait for the SDK to be built every time with your project too.

We will also switch the CocoaPods distribution to use a binary instead of the source in the future, so you'll never have any such issues again.

[2015-04-17 18:08] sticksen commented on #147
+1 for ubrett.
Switching to a binary distribution _might_ reduce submitted issues from customers, but that also might be a problem for you in the long run! We are your extended QA test team and some of us (including me) are running apps in a scale that you as HockeyApp might never have the chance to test your software on.

Please think about what you are doing. Binary = unsexy!

[2015-04-17 18:38] ashtom commented on #147
@ubrett One additional comment to what @anlinde said: Most of our competitors do not provide an open source SDK. Instead, they just install a binary framework into your project, so you never see any compiler warnings and have no idea what the SDK are actually doing. It's symptomatic that those competitors get all the love and fame, while we are ridiculed for a few **uncritical** compiler warnings.

[2015-04-17 18:52] sticksen commented on #147
@ashtom One additional one from me:

...and they don´t charge you for their service. Why do people pay you for your service? Maybe what you want to abolish is one of your USPs? What would differentiate you from the others (besides charging your users), if you do everything like the others?

To bring it back on track: we´re still talking about one simple `git tag` and one `pod trunk push`. Nothing

[2015-04-17 19:01] ubrett commented on #147
@ashtom, I certainly hope you didn't perceive my comments as 'ridicule'. That was not the intent at all. But we pay for a professional product and should, I think reasonably, expect professional and timely releases. Hiding warnings behind a binary is not the right solution to that.

[2015-04-17 19:07] ashtom commented on #147
@sticksen Our competitors either charge you as well, or provide a free service to uses your data for their business model. We will not remove our open-source SDK, but we will no longer provide a podspec that compiles the code. CocoaPods users apparently expect a warning-free experience and given that Apple has no public roadmap and doesn't inform us in a timely manner before a new release, we have

[2015-04-17 19:16] ashtom commented on #147
@ubrett Apple released Xcode 6.3 on April 8th and Xcode 6.4 beta on April 13th. In relation to those dates, we consider a new SDK next week as a timely release, especially given the effort to test on 3 architectures, various screen resolutions, compiler configurations, etc., reviewing contributions against potential license issues, and that we don't introduce new bugs that crash your app in produc

[2015-04-17 20:15] sticksen commented on #147
@ashtom Well ok, fair enough. What you´re saying seems alright, but goes down another road than what @anlinde said. @anlinde ´s responses were quite brief and didn´t signal that you´re not confident enough (yet) to release a version.

If you would have said that you need some time to bring us a proper release which handles changes in Xcode 6.3 and 6.4 beta, nobody would have raised his hand.

Mayb

[2015-04-27 09:30] #145 closed

[2015-04-27 09:30] anlinde commented on #136
The latest 3.6.4 release contains the fix.

[2015-04-27 09:31] #136 closed

[2015-04-27 09:31] anlinde commented on #129
The latest release 3.6.4 contains the fix for this.

[2015-04-27 09:31] #129 closed

[2015-04-27 09:34] anlinde commented on #122
This should be fixed.

[2015-04-27 09:35] anlinde commented on #111
This is now part of release 3.6.4.

[2015-04-27 09:35] #111 closed

[2015-04-28 08:48] stari4ek opened #150 "Missing QuickLook framework dependency"
Checked with 3.6.2, but should be valid for 3.6.4 since there are no changes in xcconfig

when HockeySDK.xcconfig is used - linkage error:
[code]

Adding ```-framework QuickLook``` solves the issue

[2015-04-28 19:55] captainchung opened #151 "Macro Redefined warning"
I'm seeing the same issue as in #116 but am not sure where the issue is coming from. My Pods.xcconfig.debug looks fine, meaning there are no duplicates.  Do you have any suggestions?

    GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1 $(inherited)  BITHOCKEY_VERSION="@\"3.6.4\"" BITHOCKEY_C_VERSION="\"3.6.4\"" BITHOCKEY_BUILD="@\"38\"" BITHOCKEY_C_BUILD="\"38\""

![screen shot 2015-04-28

[2015-04-28 22:03] #151 closed

[2015-04-30 20:42] johntmcintosh commented on #150
On a related note, I noticed today when linking the prebuilt Crash Only SDK (based on the [Client Integration Guide](http://support.hockeyapp.net/kb/client-integration-ios-mac-os-x/hockeyapp-for-ios#crash-reporting-only-sdk)) that I needed to link `QuickLook` and `MobileCoreServices` in addition to the 4 specified in the documentation.

[2015-04-30 22:09] johntmcintosh opened #152 "Support for Crash Only SDK with CocoaPods"
Hi -

I'm in the process of setting up crash reporting in a watch extension, and have been using CocoaPods for managing dependencies. Based on the [iOS Integration Guide](http://support.hockeyapp.net/kb/client-integration-ios-mac-os-x/hockeyapp-for-ios#crash-reporting-only-sdk) I'm able to link the precompiled Crash Only version of the framework. I would like to be able to continue using CocoaPods

[2015-05-04 12:57] anlinde commented on #152
Hi,

we'll provide an updated Podspec which uses the binary distributions with the next minor update. Until then, you should modify the file `HockeySDKFeatureConfig.h` and de-activate the features you don't want to include in your build. The CrashOnly version e.g. is build with all features but Crash Reporting de-activated.

Regarding your errors: The code checks at runtime if it runs as being par

[2015-05-05 22:57] johntmcintosh commented on #152
Thanks, Andreas! In the meantime, I've added a post-install script to my podfile to make the changes you suggested.

[code]

[2015-05-19 10:19] anlinde commented on #150
Thanks,

1. I just fixed the xcconfig issue, see here: https://github.com/bitstadium/HockeySDK-iOS/commit/1e30c3570af21ac8c0ec56d1f23f309880165692
2. In the 3.6.4 release, you don't need to link `QuickLook` and `MobileCoreServices` any more.

[2015-05-22 03:41] dreese commented on #116
Somehow, my project got into this state too. Removing the definitions from `GCC_PREPROCESSOR_DEFINITIONS` fixed it for me too.

[2015-06-02 17:09] mackuba opened #163 "Crash alert has title "This app Unexpectedly Quit""
The capitalization looks kind of funny there, so I checked where that's coming from. It looks like you're trying to detect the app name and falling back to "This app", but you only take `CFBundleDisplayName` into account. I don't have a `CFBundleDisplayName`, I only have a `CFBundleName`. I'm not 100% sure, but from what I found, `CFBundleDisplayName` isn't required if you have `CFBundleName` (htt

[2015-06-08 11:12] anlinde commented on #163
This is now added in the develop branch and will be part of the next update. Thanks for the hint!

The commit is here: https://github.com/bitstadium/HockeySDK-iOS/commit/94537a41327e9b4ae72eee378a5808598f784dd2

[2015-06-08 11:12] #163 closed

[2015-06-08 11:13] #150 closed

[2015-06-08 12:33] anlinde commented on #126
The feature is now added to the develop branch. Please note that this property only works in the App Store environment and not for test builds.

[2015-06-08 12:33] #126 closed

[2015-06-14 13:08] itsthejb opened #168 "Possibly false positive with symbol 'currentHost' on TestFlight submission"
Hi,

We're currently trying to iron out false positive issues on a TestFlight submission (required by Apple), and the only remaining is `currentHost`, which comes up in a grep in `CrashReporter.framework`.

It seems like they're using an extremely indiscriminate scan for TestFlight now, since the majority of the issues are simple symbol names that happen to be named the same as those in private fr

[2015-06-19 13:01] rggjan opened #172 "Build warnings: Input PNG does not have an 8 bit input depth."
When building with XCode and the newes HockeySDK (3.6.4) I get the following error four times:

[code]

This is detected by our jenkins build system and makes the build yellow.

It didn't happen for version 3.6.2, and I assume it was introduced in ``[UPDATE] Reduced file size of images in HockeySDKResources.bundle by 63%`` (see http://hockeyapp.net/help/sdk/ios/3.6.4/docs/docs/Changelog.html)

[2015-06-20 13:51] anlinde commented on #172
Can you provide a demo project? Since we can't reproduce this. Also, with Xcode version are you using?

[2015-06-20 13:53] anlinde commented on #168
Is this only a warning or does it block from uploading? We haven't heard such an issue from anyone else yet.

[2015-06-20 13:56] itsthejb commented on #168
This was one of a few symbols that caused a rejection for our initial Testflight submission. There are seemingly extremely strict; for example, we had to rename method arguments in `NINetworkImageView` that were clearly false positives.

[2015-06-20 16:16] anlinde commented on #168
Do you still get these warnings or was this a one time problem?

[2015-06-20 16:17] anlinde commented on #168
Also, PLCrashReporter doesn't have a symbol names `currentHost`, and neither does our SDK. PLCR has a symbol named `currentHostInfo`, so this can't be the cause for your restriction.

[2015-06-20 16:22] itsthejb commented on #168
We had to disable Hockey for the submission. It's now been accepted. It's possible we could re-enable it now and might get through a review. Hard to say. As for the symbol - yes, that's possible. I ended up grepping the binary and derived data folders for the offending symbols until I could get it "clean". I know that this was the last symbol I had to remove, and unlinking the SDK was the only way

[2015-06-20 17:47] anlinde commented on #168
I just tried a submission again and it worked flawlessly. We have thousands of customers uploading builds with our SDK every day. There is no known issue on our end and as I mentioned, the symbol you mentioned is not even anywhere in our code.

I recommend adding our SDK again :) and close this issue now.

[2015-06-20 17:47] #168 closed

[2015-06-22 08:34] rggjan commented on #172
Here is a test project (rename to zip to extract): ![test_project.zip](https://cloud.githubusercontent.com/assets/128554/8278195/c52d707e-18c9-11e5-9ee5-9d57de6ae3fa.jpg)

Its an empty xcode example project with only the hockey sdk as a podfile.

Here is the output of

pod install && xcodebuild -configuration Release -workspace Test.xcworkspace -scheme Test archive -parallelizeTargets > out.txt

!

[2015-06-22 08:38] anlinde commented on #172
Thanks, but these links don't work. How about creating a repo for this instead?

[2015-06-22 09:11] rggjan commented on #172
Thanks for having a look at it :)

Links work for me... just right click, save as, and rename to zip / txt.

If its really not working, I can create a new repository for it anyway, though...

[2015-06-23 07:10] anlinde commented on #172
The links in your post do not work, check yourself here: https://github.com/bitstadium/HockeySDK-iOS/issues/172

Anyway, I was able to reproduce and fix the issue here: https://github.com/bitstadium/HockeySDK-iOS/commit/5305474388a9752749b450bcfc815ad482be8b91

Thanks for letting us know about this!

[2015-06-23 07:10] #172 closed

[2015-06-23 07:20] #122 closed

[2015-06-23 07:22] rromanchuk commented on #122
yeah, sorry forgot this was open

[2015-06-23 07:23] anlinde commented on #114
I don't see anything we have to change here. The next SDK update will use binary distribution by default via CocoaPods too. There will be an option to use source integration, but even with that, everything works just fine over here. Without being able to reproduce any of the issues, I can't possible change the build system.

Closing this for now.

[2015-06-23 07:23] #114 closed

[2015-06-23 08:14] rggjan commented on #172
Sorry for the links then, it still works fine for me...

But great that you managed to fix the issue, thanks a lot :D

[2015-06-24 00:45] marcelofabri opened #176 "Duplicated symbols with HockeySDK-Source and CP 0.37 as framework"
I tried updating my project to use the new `HockeySDK-Source` podspec, but I'm getting several build errors because of duplicated symbols.

I'm using CocoaPods 0.37.2 and `use_frameworks!`, as it's a Swift project.

[2015-06-24 07:30] rggjan commented on #176
I can confirm, the same thing happens for me.

Symbols like "_OBJC_IVAR_$_BitAppVersionMetaInfo._date" in "libPods-...-HockeySDK.a(BITAppVersionMetaInfo.o)"

[2015-06-24 07:36] rggjan opened #177 "Error HockeySDK 3.7.0: Framework not found CrashReporter"
After updating to HockeySDK 3.7.0 I get the following error in my project during linking:

    ld: framework not found CrashReporter
    clang: error: linker command failed with exit code 1 (use -v to see invocation)

My Podfile:

    pod 'HockeySDK'

My Podfile.spec:

    PODS:
      - HockeySDK (3.7.0):
      - HockeySDK/AllFeaturesLib (= 3.7.0)
      - HockeySDK/AllFeaturesLib (3.7.0)

[2015-06-24 10:04] anlinde commented on #177
Hi,

the `CrashReporter` framework is not referenced and required any longer. Looks like CocoaPods didn't remove that dependency when updating it in your case. If you can't find the reference and remove it manually, I suggest to remove the Pod completely and add it again from scratch.

Best,
Andreas

[2015-06-24 10:15] rggjan commented on #177
That worked, thanks for the help!

[2015-06-24 10:15] #177 closed

[2015-06-24 10:17] anlinde commented on #176
We currently don't know why this happens, the effect only comes up when using `use_frameworks!`. If you use `HockeySDK` pod this works just fine. @alloy Do you have an idea by chance?

Is there any specific reason you are using the `HockeySDK-Source` pod?

[2015-06-24 10:22] alloy commented on #176
Nope, sorry, I’ve been out of the loop for a while now. It would be best to file a ticket on the CocoaPods repo and provide a reproducible project for the devs to test.

[2015-06-24 12:11] lukasspiess commented on #176
Sorry for the inconvenience everybody. The problem is fixed in this commit https://github.com/bitstadium/HockeySDK-iOS/commit/a918cb9d0775fcef86b31735956028c05543cd65 and we are looking to make this available publicly shortly.

[2015-06-24 15:06] marcelofabri commented on #176
Actually, I was using `HockeySDK-Source` because when using `HockeySDK` I got another error (probably because it now ships a compiled static binary):

[code]

[2015-06-24 15:16] anlinde commented on #176
@marcelofabri We cannot reproduce this over here. Please fully remove the SDK from your Podfile, run `pod install` and then add it again. Maybe that helps.

[2015-06-24 15:22] marcelofabri commented on #176
I think I know what is the issue. We have an internal component which imports `HockeySDK` and when I add this component to `Podfile`, I get that error.

If I just add `HockeySDK`, `pod install` succeeds.

[2015-06-24 20:50] dtweston opened #178 "Latest release (3.7.0) broke our cocoapods usage"
We reference HockeySDK as a dependency from a podspec, (i.e. not directly in a Podfile), and the latest release has broken this usage.

We have an app A with a Podfile that references our custom pod B that has a dependency on HockeySDK.

The xcconfig for our Pod B is missing the FRAMEWORK_SEARCH_PATHS setting that points to the HockeySDK framework location, but the setting shows up in the main app

[2015-06-24 21:10] lumaxis commented on #178
I'm not entirely sure if I understand your scenario correctly. Basically what you're saying is that our podspec doesn't work as a dependency in another podspec?
Do you think it would be possible to provide an example project that demonstrates the problem? It might be difficult to reproduce your scenario otherwise. Thanks!

[2015-06-24 21:11] lukasspiess commented on #178
I'm not entirely sure if I understand your scenario correctly. Basically what you're saying is that our podspec doesn't work as a dependency in another podspec?
Do you think it would be possible to provide an example project that demonstrates the problem? It might be difficult to reproduce your scenario otherwise. Thanks!

[2015-06-24 21:11] dtweston commented on #178
Sure, I think I can whip up an example project.

[2015-06-24 21:14] anlinde commented on #178
Also try to completely remove it first and then add it again. Setting the build settings at the correct places can't be influenced by the pod spec anyway. So if deleting and adding doesn't help a test project might be the only chance to figure out what is going on.

[2015-06-24 21:39] dtweston commented on #178
Here's my example project:
https://github.com/dtweston/hockeysdk-test

There are two relevant commits. One with 3.6.4 works, the next one with 3.7.0 fails

[2015-06-25 07:27] x2on opened #179 "Missing translation texts"
With the release 3.7.0 we only get placeholder texts in the HockeyUI.

So if a update is available there is the following text:
`UpdateAvailable`
`UpdateAlertTextWithAppVersion`
and so on...

[2015-06-25 07:43] anlinde commented on #179
Make sure the `HockeySDKResources.bundle` is added to your app. How did you integrate the SDK?

[2015-06-25 09:57] x2on commented on #179
`pod 'HockeySDK', '3.7.0'`

[2015-06-25 09:58] x2on commented on #179
The `HockeySDKResources.bundle` is then missing in the Pods project :(

[2015-06-25 09:58] anlinde commented on #179
Please completely remove the pod and then add it again. That should fix it.

The pod is inside of the framework and definitely is there.

[2015-06-25 10:00] x2on commented on #179
Hm i will try - not so easy during a CI build...

[2015-06-25 10:02] anlinde commented on #179
We highly recommend not to do `pod install` on CI but check in your pods.

[2015-06-25 10:04] x2on commented on #179
Other discussion - but we will not do this :)
We just checking the `Podfile` and the `Podfile.lock`
Nice article: http://www.jpsim.com/cocoapods-tips-tricks/

[2015-06-25 10:08] x2on commented on #179
Just testet it on my Mac - No bundle available in the Pods project after deleting the whole `Pods` folder and run `pod update`
![screen-hockey](https://cloud.githubusercontent.com/assets/195724/8352078/c279c1be-1b32-11e5-8ebe-602d9ecf3bc4.png)

[2015-06-25 10:13] anlinde commented on #179
It is not shown in there, but under `Pods`, `Products`.
![sdktest xcodeproj 2015-06-25 12-13-10](https://cloud.githubusercontent.com/assets/10196267/8352201/8dc367e4-1b33-11e5-91a6-b2dd274c7d83.png)

And also part of the app after build:
![sdktest 2015-06-25 12-13-27](https://cloud.githubusercontent.com/assets/10196267/8352203/9cf3c236-1b33-11e5-9395-044a3d65184e.png)

[2015-06-25 11:00] x2on commented on #179
Ah i missed that, just thought that is a "normal" resource bundle for the pod.
In the `Name.app` file the bundle is available, but doesn't contain any files

[2015-06-25 11:05] anlinde commented on #179
We are trying to reproduce this and find the cause. It is likely a bug in CocoaPods. Are you using `use_frameworks!` ?

[2015-06-25 11:08] x2on commented on #179
No we are targeting iOS 7

[2015-06-25 11:45] anlinde commented on #179
We are trying to compile of issues that is caused by CocoaPods (so it seems) during update. But until that is fixed we only have the following options:

1. Don't use CocoaPods for our SDK and directly integrate the binary (it only takes a very few steps): http://support.hockeyapp.net/kb/client-integration-ios-mac-os-x/hockeyapp-for-ios
2. Try the `HockeySDK-Source` pod instead (doesn't work yet wi

[2015-06-25 13:52] anlinde commented on #179
We found the issue and it was actually a bug in the podspec. Shame on me.

The fixes have been merged and you should now be able to update the podspec to 3.7.0 without any more issues.

[2015-06-25 13:53] anlinde commented on #176
The fixes have been merged and you should now be able to update the podspec to 3.7.0 without any more issues.

[2015-06-25 17:09] marcelofabri commented on #176
Thanks for the quick fix! :beers:

[2015-06-25 17:54] marcelofabri commented on #176
Actually, now the project compiles, but I'm unable to use certain features:

[code]

I can submit a sample project, but it was really an empty project with this `Podfile`:

[code]

[2015-06-25 20:00] Spencevail commented on #178
Same issue here. Here's my podfile:

[code]

The error I'm seeing when building is:

building file list ... rsync: link_stat "/Users/Spencevail/Library/Developer/Xcode/DerivedData/MyApp-ecqengvbpfcaktaslcjliyhxlqsr/Build/Products/Staging-Debug-iphonesimulator/HockeySDKResources.bundle" failed: No such file or directory (2)
done

total size is 0  speedup is 0.00
rsync error: some files could not be

[2015-06-26 07:32] anlinde commented on #176
I am sorry, but I can't get the `HockeySDK-Source` podspec work with frameworks at the moment. We also find another glitch in the `HockeySDK` podspec and will try to push it soon

[2015-06-26 08:22] anlinde commented on #179
The updated version 3.7.1 should work now for real.

Sorry for the trouble.

[2015-06-26 08:23] anlinde commented on #178
@dtweston: Please use the `HockeySDK-Source` podspec, which is essentially the same as we had for 3.6.4 with updated source.

@Spencevail: We just released a new version 3.7.1 with updated podspec that should work for you know. Sorry for the trouble.

[2015-06-26 08:24] anlinde commented on #176
We just released an updated version 3.7.1:

1. `HockeySDK` podspec is binary and now finally works with the resource files.
2. `HockeySDK-Source` podspec is the same as in version 3.6.4 but with udpated source

Sorry for the trouble guys.

[2015-06-26 08:27] anlinde commented on #152
Hi,

the latest podspec with binary distribution supports this settings. We had to remove those options from the new `HockeySDK-Source` podspec again, because we couldn't make it work in all scenarions (static lib, dynamic framework, as dependency etc.).

We'll look into that again with the next major SDK update.

Thanks
Andreas

[2015-06-26 11:28] x2on commented on #179
Thanks with 3.7.1 it works now again!

[2015-06-26 11:28] #179 closed

[2015-06-26 19:08] Spencevail commented on #178
@anlinde I'm getting the same issue with 3.7.1. I even tried removing the Podfile.lock, the Pod directory, removing all derived data, reinstalling and rebuilding. Same error as before. Downgrading to 3.6.4 fixes the problem.

[2015-06-26 21:01] anlinde commented on #178
We get reports that it works fine. Feel free to use 'Hockey-Source' pod instead which uses the same approach as 3.6.4

[2015-06-29 11:43] #176 closed

[2015-06-29 11:43] #152 closed

[2015-06-29 11:44] #178 closed

[2015-07-01 20:46] lauracpierre opened #180 "How to access info from the crash manager delegate"
Hi,

I've implemented the delegate methods to get more details about the user when I get a crash report. However I don't understand where in HockeyApp I can have access to this information.
Also because HockeyApp won't start in debug, it's hard to see if these methods are being called.

Here is my config:

[code]

and then I have the following methods:
[code]

Where can I access these details?

Th

[2015-07-02 07:06] anlinde commented on #180
You can test this in Xcode yourself:

1. Run the app without the debugger and let it crash
2. Now start the app with the debugger attached and your breakpoints will work

Crashes are always send on the next startup, that's also when the delegates are called. We can not invoke the delegates at crash time since that can cause way more harm than good (async-safety).

[2015-07-02 15:06] lauracpierre commented on #180
Ok thanks for the tip!

That being said where can I see this information on the hockey app website  or hockey app application OS X app?

--
Pierre Laurac

[2015-07-02 15:08] anlinde commented on #180
In the "Meta" tab of each crash instance. So select the crash group, then the "Crash Logs" tab, then a crash instance from the list and then the "Meta" tab below.

[2015-07-02 15:13] lauracpierre commented on #180
Cool this works fine then! I looked mainly on the Mac App which doesn't seem to exist but that's fine.

Thanks for the quick response and the good work on the app and frameworks!

Pierre

[2015-07-02 15:13] #180 closed

[2015-07-02 15:16] sjmadsen commented on #178
We ran into this same problem with CocoaPods 0.37.2, but it is fixed in 0.38.0.beta.1. (See issue [#3761](https://github.com/CocoaPods/CocoaPods/issues/3761).) It may only be a problem when `use_frameworks!` is used (which is required if you use pure Swift pods).

[2015-07-09 10:34] oleg-ivaniv opened #181 "Crash after the app has been installed"
Hi,

Crash preconditions: send one or more feedback than delete app from device and install this app again; list of sended feedbacks must not be downloaded, so try steps directly after app has been installed.

Steps to reproduce:
1. Go to Feedback in portrait mode
2. Rotate device to landscape mode

After this is 2-5 sec app will crash.

Crash reproducible in 3.6.4 & 3.7.1 versions.

[2015-07-09 10:35] anlinde commented on #181
Thanks, can you please provide a symbolicated crash report for this?

[2015-07-09 10:38] oleg-ivaniv commented on #181
Last crash report:

Date/Time:       2015-07-08T09:45:27Z
Launch Time:     2015-07-08T08:07:12Z
OS Version:      iPhone OS 8.4 (12H143)
Report Version:  104

Exception Type:  SIGABRT
Exception Codes: #0 at 0x195663270
Crashed Thread:  0

Application Specific Information:
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid update: invalid number of sec

[2015-07-09 10:46] anlinde commented on #181
Thanks, we'll check that.

[2015-07-09 10:48] oleg-ivaniv commented on #181
Thank you! I'll also try to find a root reason of this crash.

[2015-07-09 11:11] anlinde commented on #181
The problem is not related to deleting the app from the device. It is that data is arriving and getting updated on the device while a rotation is happening. So to reproduce the issue, the exact timing is very important.

[2015-07-09 11:34] #181 closed

[2015-07-09 11:36] anlinde commented on #181
The linked commit does fix the crash when I simulated it locally.

[2015-07-09 15:57] robertjpayne opened #182 "Cocoapods Install fails to build"
Reproduction Steps:

1. Create a new project
2. Add a Podfile with:

[code]

3. Run `pod install`
4. Open *.xcworkspace
5. Build

Expected Result:

Successful building of project

Actual Result:

Build fails with output:

[code]

Unsure if this is really HockeySDK's issue or not but it's the resource bundle failing to be copied properly.

[2015-07-09 16:09] anlinde commented on #182
Hi Robert,

I just tried this and everything works fine using CocoaPods 0.37.2. Which version are you using? Also did you make a clean build before?

[2015-07-09 16:10] robertjpayne commented on #182
@anlinde may have been derived data -- Same version, did it on a fresh project. Let me get back to you in just a minute.

[2015-07-09 16:39] #182 closed

[2015-07-09 16:39] robertjpayne commented on #182
Not really sure what happened -- something was horribly awry as I cleaned, used a brand new project and it was bugging out.

I've fixed it now through some combo of force re-installing gems or something. Apologies.

[2015-07-14 10:32] Cinamonas commented on #182
I have the same issue, using 3.7.1 HockeySDK and 0.37.2 CocoaPods. I tried removing `DerivedData`, `Pods`, cleaning the project, but nothing helps so far.

[code]

[2015-07-14 10:53] anlinde commented on #182
Hi,

please try removing the SDK completely and then adding it again. It works flawlessly in all of our tests.

[2015-07-14 11:05] Cinamonas commented on #182
Hi, I tried reinstalling the pod, but it didn't help.

But I solved the issue just now by reinstalling CocoaPods :confused:

[2015-07-14 11:08] Cinamonas commented on #182
Hi, I tried reinstalling the pod, but it didn't help.

But I solved the issue just now by updating CocoaPods to v0.38.0.beta.2 :confused:

[2015-08-08 00:10] ocgully opened #186 "Authentication issues"
### Introduction:

In our project we want to use Authentication with WebAuth to validate that the app is authorized for use with an Enterprise Provisioning Profile. We've started integrating the HockeyApp authorization feature into our project but it does not appear to work as intended. Following the instructions here http://support.hockeyapp.net/kb/client-integration-ios-mac-os-x/authenticating-u

[2015-08-10 15:44] anlinde commented on #186
Hi,

thanks for the detailed description. First off a question from my end: why do you set the `webpageURL` property? Which address are you setting it to?

Regarding your issues:

1. Keychain:

  1. The auth token is stored in the keychain using the bundle identifier of the app, see https://github.com/bitstadium/HockeySDK-iOS/blob/develop/Classes/BITHockeyHelper.m#L120
  2. The value is not delete

[2015-08-10 18:35] ocgully commented on #186
Thanks for the quick response Andreas!

Q: Why do you set the webpageURL property?
A: We have licensed HockeyApp for enterprise usage, as such we must forward authorization requests to our internal servers running the HockeyApp backend.

1. Keychain - Good to know, thanks!
2. Unauthorized Login Flow - Fair enough. I can understand the expectation that unauthorized users would not have access to th

[2015-08-14 13:58] pvegh opened #187 "Does not build with Xcode7 Beta5"
Currently the "enable bitcode" flag on the project must be explicitely turned off in order to build with HockeySDK.

Xcode7 Beta5, Cocoapods 0.38.2

[code]

[2015-08-14 14:02] anlinde commented on #187
Yes, this is known and we are working on it in the iOS 9 feature branch. Still not enabled since a Bitcode enabled version of PLCrashReporter is pending.

[2015-08-20 12:56] hfossli opened #188 "`synchronize` is generally considered bad practice"
Synchronize is periodically invoked automatically so it rarely needs to be called manually. It is generally considered excessive to call it manually.

<img width="472" alt="screen shot 2015-08-20 at 14 52 42" src="https://cloud.githubusercontent.com/assets/3652587/9383672/24f96404-474b-11e5-9f19-fc71c20543d9.png">

I get it if the app is crashing and you need to ensure user defaults is synchronize

[2015-08-22 00:10] 0xced opened #189 "How does `BITHockeyNetworkDidBecomeReachableNotification` work?"
The documentation mentions `BITHockeyNetworkDidBecomeReachableNotification` in both BITFeedbackManager.h and HockeySDK.h but it’s not clear if it’s the Hockey SDK’s responsibility or the developer’s responsibility to post it.

The `BITHockey` prefix makes me think it should be the Hockey SDK’s responsibility but a quick look at the source code (version 3.7.2) reveals that this notification is neve

[2015-08-24 07:55] anlinde commented on #189
Hi,

it is an option for the app developer to trigger additional points where the HockeySDK can try to send pending crash reports or feedback messages. I made it more clear in the following commit: https://github.com/bitstadium/HockeySDK-iOS/commit/1c221668de3eadee43004b397e5d1ae0663b6554

Thanks!

[2015-08-24 07:55] #189 closed

[2015-08-24 08:59] 0xced commented on #189
Thanks for the clarification. 👍🏻

[2015-08-24 14:31] ileitch opened #190 "3.7.2: ld: 110 duplicate symbols for architecture arm64"
Starting with 3.7.2 I'm unable to build for arm64, x86_64 builds without error.

Xcode 6.4
iOS 8.4.1
CocoaPods 0.38.2

[code]

[2015-08-24 14:38] anlinde commented on #190
Hi,

we can not reproduce this issue over here. Did you try a clean build first? If that doesn't help, please try removing the SDK and adding it again.

[2015-08-24 14:57] ileitch commented on #190
I've tried:
* Clean build
* Removing DerivedData
* Removing the Pod and installing again

I'm still getting the same error.
Downgrading to 3.7.1 is a reliable fix.

Anything else I should try?

[2015-08-24 15:07] anlinde commented on #190
Could you please share the line you are using in your Podfile?

[2015-08-24 15:12] anlinde commented on #190
One additional question: are you sure you are not using Xcode 7 Beta with Bitcode enabled?

[2015-08-24 15:59] cyupa commented on #190
Happening to me as well, but only when building for device, on simulator it works ok.
XCode 6.4 (6E35b)
Doesn't work on any device I've tested, ranging from iOS 8.0 to 9.0.
CocoaPods 0.38.2.

[2015-08-24 16:18] joemccall86 commented on #190
If it helps, I'm getting the same issue with the armv7 architecture, so it may not be related to arm64. The line in the podfile is `pod 'HockeySDK', '~> 3.7.2'`. Also it seems to build correctly when the target is a simulator, as @cyupa pointed out.

[2015-08-24 16:54] gtimmy commented on #190
I have got the same issue as well. I'm not able to run Tests target on device. On the simulator it works like a charm.

[2015-08-24 17:00] ileitch commented on #190
@anlinde I do have 7 beta installed, but it's certainly not running.
Podfile line: `pod 'HockeySDK', '~> 3.7', inhibit_warnings: true`

[2015-08-24 17:08] anlinde commented on #190
Is anyone able to reproduce the issue in a sample project and could post that project into a GitHub repository? Whatever we try so far, we can reproduce the issue :(

[2015-08-24 17:57] joemccall86 commented on #190
I've created a hello world project, and indeed the bug doesn't happen there. So there must be some configuration setting that's different between my project and the defaults for xcode. Will investigate further.

[2015-08-24 18:34] joemccall86 commented on #190
Alright, for my specific issue it seems like the pods `HockeySDK 3.7.2` and `OHHTTPStubs 4.1.0` cannot be installed on the same target. If I only apply HockeySDK to the main target and only apply OHHTTPStubs to the test target everything seems to run fine. Cleaning up the test project now, will upload to github.

[2015-08-24 18:50] joemccall86 commented on #190
https://github.com/joemccall86/HelloWorldApp-iOS

Specifically observe this changeset: https://github.com/joemccall86/HelloWorldApp-iOS/commit/3a5b315fdeb8a41901c0a8ddd7877ec2aeb5ab2c

Hopefully that helps illustrate the problem. Let me know if I can answer any questions!

[2015-08-25 13:16] anlinde commented on #190
Thanks for the test project. We can reproduce that error in that one only when building the test target against a device, which isn't a good example, since it won't run anyway. Building against the simulator always works just fine.

The issue came up with and (!) without OHHTTPStubs, it also came up with HockeySDK 3.7.1 but not with HockeySDK 3.7.0. Which is even more strange, since those two vers

[2015-08-25 13:28] orta commented on #190
I'm unsure

/cc @neonacho / @segiddins

[2015-08-25 17:41] neonichu commented on #190
@anlinde so you can repro it by building the test target of https://github.com/joemccall86/HelloWorldApp-iOS for device? That builds fine for me using both Xcode 6.4 and 7.0  ¯\_(ツ)_/¯

[2015-08-25 18:41] anlinde commented on #190
@neonichu: Yes, are you using CocoaPods 0.38.2 or an older version?

[2015-08-25 18:48] neonichu commented on #190
@anlinde I tried both 0.38.2 and current master.

[2015-08-26 19:58] rhaining commented on #190
i'm seeing this as well

[2015-08-27 15:55] rhaining commented on #190
fwiw hockey v3.7.1 works fine for me

[2015-08-28 20:20] lumaxis commented on #188
Thanks for writing in! Yes, you're absolutely right. We're aware of the general performance implications of using `synchronize` in many places but still feel that in most of these places we need to make sure that the information is persisted on disk. I think we will revisit this in a future update. Maybe our own SDK-specific file as a better solution to this problem.

[2015-08-28 22:54] lumaxis commented on #190
I think I just identified the cause for this issue. Give us some time to verify the fix and we'll hopefully get it out very soon!

[2015-08-29 08:21] hfossli commented on #188
Yep. Dispatch to a background queue and save to a lightweight file will be just as reliable as the current implementation.

[2015-08-31 06:37] anlinde commented on #188
Simply doing stuff in a background queue doesn't solve the issues in those places. Most of those need the writing to happen at exact that time on the main thread.

As mentioned, we'll re-evaluate all those and come up with a solution that won't use `NSUserDefaults` in the first place.

[2015-08-31 08:46] anlinde commented on #190
Thanks for all your patience. The issue is triggered by the PLCrashReporter build being done with Xcode 7 Beta. We just published version 3.7.3 with a build of PLCrashReporter being done with Xcode 6.4.

Best,
Andreas

[2015-09-02 09:20] #190 closed

[2015-09-02 09:21] anlinde commented on #187
You can use the 3.8 Beta 1 release or the iOS 9 feature branch: https://github.com/bitstadium/HockeySDK-iOS/tree/feature/iOS9-Updates

[2015-09-02 09:21] #187 closed

[2015-09-02 11:51] pvegh opened #192 "Cocoapods: Pod from the os9-updates branch broken"
The pod from the ios9-updates branch seems to be currently broken, there is only the readme.md file in there after installing the pod and nothing else.

  pod 'HockeySDK', :git => 'https://github.com/bitstadium/HockeySDK-iOS.git', :branch => 'feature/iOS9-Updates'

I mighty have done something wrong though.

[2015-09-02 11:54] pvegh commented on #187
Thanks for the update!
That branch seems to have another problem when using it as a pod, so I opened a new issue for that:
https://github.com/bitstadium/HockeySDK-iOS/issues/192

[2015-09-02 12:24] lumaxis commented on #192
To use a prerelease version with CocoaPods, you need to add the prerelease version number in your Podfile. So simply putting `pod 'HockeySDK', '~> 3.8-Beta'` will work and get you an iOS 9-compatible version :+1:

[2015-09-02 12:24] #192 closed

[2015-09-02 12:51] pvegh commented on #192
Thanks for that one, it works indeed.
I don't understand yet why specifying the branch was not good enough in this case, since I am using that notation for other pods to get their swift-2.0 branches successfully.
I mean HockeySDK was even pulled with the new beta version, it was just not present in the Pods folder after the update.

[2015-09-02 12:57] lumaxis commented on #192
The explanation is very simple :) Our default pod uses our compiled SDK which is distributed as a binary. So when you point you Podfile to the branch it's looking for the binary release there which it of course can't find.
To use a branch directly, you would need to switch to our alternate `HockeySDK-Source` pod.

[2015-09-02 13:04] pvegh commented on #192
Yeah ok that explains it pretty straightforward :) Thanks!

[2015-09-02 13:16] lumaxis commented on #192
Anytime! Be sure to let us know of you run into any issues with the 3.8 Beta. Happy to help out :relaxed:

[2015-09-03 08:59] hons82 opened #193 "CrashReporter"
Hi,
is there a reason why this line has been removed from the podspec?
[code]
It has been added because of [this error report](http://support.hockeyapp.net/discussions/problems/15150-hockey-sdk-installation-fails-from-cocoapods)

Now I get this error
[code]

thx
~hons

[2015-09-03 09:04] anlinde commented on #193
Hi,

are you referring to `HockeySDK.podspec` ? This is using the binary SDK build since version 3.7 instead of using the source. There is an alternate podspec `HockeySDK-Source.podspec` if you want to build it from source.

Can you reproduce this in a sample project that we could take a look at?

Thanks,
Andreas

[2015-09-03 09:30] hons82 commented on #193
Actually it's an old project, that I just updated using ```pod update``` to the latest HockeySDK and it seems like it was not possible to remove the "Other Linker flag" regarding the crash reporter.

Manually removing it solved the issue and now pod update/install is not re-adding it.

BTW. I tried it with the ```HockeySDK-Source.podspec``` and that one is working too. Thanks 4 the hint/help

[2015-09-03 09:30] #193 closed

[2015-09-08 19:45] JensDee opened #196 "Textfield in BITFeedbackComposeViewController is buggy after device rotation"
When starting to write a text in the BITFeedbackComposeViewController and then rotating the device to landscape, the textfield width seems to change. Some of the text per line disappears. You write in an invisible area. When continuing to type, at some point there will be another line break.
This phenomenon persists in landscape format. It seems the line width is even larger then the landscape vie

[2015-09-08 19:47] lumaxis commented on #196
Thanks @JensDee for bringing this up! We'll look into this and come up with a fix soon :ok_hand:

[2015-09-09 12:53] #196 closed

[2015-09-09 12:54] anlinde commented on #196
Thanks for the details. We were able to reproduce and fix it. It will be part of the next update.

[2015-09-10 11:58] JensDee commented on #196
Excellent. Is there already a schedule for the next update?

[2015-09-10 12:52] anlinde commented on #196
We just released version 3.8 RC 1 which contains this fix: http://hockeyapp.net/blog/2015/09/10/hockeysdk-ios-3-8-rc-1-release-notes.html

Important: This version requires Xcode 7 for building!

[2015-09-12 15:35] sunflash opened #198 "Undefined symbols for architecture x86_64 with Xcode 7 and iOS 9 SDK"
"3.8 Beta 1" and "3.8 Release Candidate 1" binary is not fully compatible with Xcode 7 and iOS 9 SDK
<img width="571" alt="screen shot 2015-09-12 at 17 35 18" src="https://cloud.githubusercontent.com/assets/4181292/9832227/b1a90388-5974-11e5-9f38-749df30cf246.png">

[2015-09-12 18:47] anlinde commented on #198
Hi, we can not reproduce this. How do you integrate the SDK? Can you reproduce this in a sample project and provide that to us so we can analyze this?

Thanks

[2015-09-13 18:56] sunflash commented on #198
Hi

I found the issue, that I forgot to add libc++
Thanks :)

[2015-09-13 18:56] #198 closed

[2015-09-16 23:05] nick-m42 opened #199 "3.8.1 No longer builds with Xcode 6"
Installing HockeySDK 3.8.1 and building with Xcode 6 no longer works.

[code]

[2015-09-16 23:14] lumaxis commented on #199
Hey @nick-m42, as you can see in our release notes, HockeySDK from this release onwards requires Xcode 7 to build.
Unfortunately, this step was necessary to be able to support Bitcode which itself also requires Xcode 7. We're really sorry if this causes any inconveniences but can of course still keep using our SDK in version 3.7.3, especially since the 3.8.1 release focuses mainly on supporting Xc

[2015-09-16 23:14] #199 closed

[2015-09-18 14:08] lumaxis commented on #199
@nick-m42 Nick, I'm happy to let you know that we found a way to make our binary work with Xcode 6 :)
You can just update to our newly released 3.8.2. version and keep using your existing setup.

[2015-09-19 18:28] aventurella opened #200 "Initializing Hockey from a Keyboard extension causes the Keyboard to appear after a long pause."
When I initialize Hockey from a Keyboard Extension, the keyboard takes a long time, 5-10 seconds to come up. If I do not initialize Hockey the keyboard appears in about 1 sec, maybe less.

When I try to initialize Hockey in the background:
[code]

The keyboard extension just crashes.
If I slightly defer it's initialization:

[code]

I get an acceptable display speed.

Any guidance/best practice on

[2015-09-19 18:30] aventurella opened #201 "Check the "Allow app extension API only" in the xcode project"
Compile time warnings about not having that box checked when using Hockey within extensions

[2015-09-20 22:18] nick-m42 commented on #199
Awesome news, thanks!

[2015-09-21 06:57] anlinde commented on #201
Are you using the build configuration `ReleaseCrashOnlyExtensions` and disabling all features but CrashReporting in `HockeySDKFeatureConfig.h`.

The much easier way would be to use the binary we provide with exactly these build settings instead of building it yourself.

[2015-09-21 07:01] anlinde commented on #200
Thanks, some notes:

1. We haven' tested this with a keyboard extension yet. Could you provide a sample project that reproduces the issue?
2. Are you using the crash only extension build we provide? https://github.com/bitstadium/HockeySDK-iOS#24-set-up-the-sdk-in-xcode
3. Calling this asynchronously will not let you capture crashes that happen early.
4. Could you provide us a Xcode Instruments rec

[2015-09-21 16:08] aventurella commented on #201
Sure, I can do that, I figured, since Hockey allows a Carthage build, whatever was the best settings would already be set in the Shared Scheme that Carthage uses to build.

[2015-09-21 16:10] anlinde commented on #201
This is not possible, since we that build setting can not be enabled for the build for iOS apps. Hence you need to define the build configuration and can't use the default one.

[2015-09-25 09:28] oanaBan opened #202 "Upgrade alert is not shown on iOS 8 when oppenning the app and another alert is on the screen"
I have latest sdk version (3.8.2) and on iOS 8 when oppenning the app if there's another alert on the screen (fingerprint auth alert in my case) the Hockey upgrade alert is not shown anymore. On iOS 9 is working ok.

Is this a known bug on your side?

[2015-09-25 10:40] lumaxis commented on #202
Hey @oanaBan,
no, this is definitely not a known bug! Thanks for bringing it up and I'll start looking into this asap :)

[2015-09-30 10:56] kevinrenskers opened #205 "Checking for App Store / TestFlight environment broken?"
It used to be possible to see if the app was dowloaded from TestFlight rather then from the App Store by checking `[[NSBundle mainBundle] pathForResource:@"embedded" ofType:@"mobileprovision"]`. If nil then App Store, otherwise TestFlight.

However, this seems to longer work. Not sure if it's iOS 9, the new Xcode or new iTunes Connect, but something has changed..

This does work correctly:

[code]

[2015-09-30 11:26] lumaxis commented on #205
Thanks @kevinrenskers for letting us know about this!
Just to clarify: You're saying that the current way of detecting the App Store also identifies TestFlight as a false positive, right?

[2015-09-30 12:24] kevinrenskers commented on #205
Yeah. This is your code:

[code]

However, `[[NSBundle mainBundle] pathForResource:@"embedded" ofType:@"mobileprovision"]` now always seems to return nil, even when you are in fact in TestFlight environment.

[2015-09-30 14:09] anlinde commented on #205
Looks like Apple changed the way they sign Testflight builds (again). We'll take a look, thanks!

[2015-09-30 17:51] NKorchagin opened #206 "ATS iOS 9 support in BITStoreUpdateManager"
Hi.

Are you sure that request with this url https://github.com/bitstadium/HockeySDK-iOS/blob/3.8.2/Classes/BITStoreUpdateManager.m#L345 will be handled correctly by iOS 9 with latest ATS changes. Did you test it?

[2015-10-01 13:09] anlinde commented on #206
Hi,

thanks for the notice. Apple redirects the call to https and when using `nscurl --ats-diagnostics ` with an `http://`URL it also passes all the tests.

We'll adjust the URL to https in the code, but it should work just fine with the existing URL too.

Best,
Andreas

[2015-10-07 13:04] aventurella opened #207 "Within a keyboard extension, HockeySDK can be initialized 2x"
The workflow is this:
- Initialize Hokey in the keyboard's `viewDidLoad`,
- let the keyboard initialize
- switch keyboards to any other keyboard
- switch back to the target keyboard with Hockey initialization

The following warning appears in Xcode:

[code]

[2015-10-07 13:44] anlinde commented on #207
Did you use the setup we document here? https://github.com/bitstadium/HockeySDK-iOS#extensions

[2015-10-07 15:39] aventurella commented on #207
Ya, using the `HockeySDKCrashOnlyExtension`

I get
[code]

[2015-10-07 15:41] anlinde commented on #207
Some more questions:

1. Which version of the SDK are you using?
2. Which Xcode version are you using?
3. Could you setup a sample project that reproduces both issues?

[2015-10-07 15:46] aventurella commented on #207
SDK Version:
2015/09/18 - Stable - Version 3.8.2 - Binary Distribution

Xcode:
Version 7.0 (7A218)

Sample Project:
Lemme give it a whirl.

[2015-10-07 15:52] aventurella commented on #207
Here ye be!
https://www.dropbox.com/s/3b4ayivc57ch0v1/HockeyTest.zip?dl=0

[2015-10-07 16:00] aventurella commented on #207
It seems from here:
https://forums.developer.apple.com/thread/12443

That I might need to do this:
STRIP_BITCODE_FROM_COPIED_FILES=NO

Trying it now.

[2015-10-07 16:09] aventurella commented on #207
That does get me out of the bit bitcode error, but now I get a codesign error:

[code]

[2015-10-07 16:10] anlinde commented on #207
The SDK is not a dynamic framework, so make sure not to copy it into the app bundle. Please re-read the installation instructions to make sure it is added the way it should be.

[2015-10-07 16:18] aventurella commented on #207
The documentation: https://github.com/bitstadium/HockeySDK-iOS#setup

never discusses the use of the **CrashOnlyExtension** Framework, just the full featured framework.

And I have done the following with the **CrashOnlyExtension** framework in question:

Obviously the docs say **embeddedframework**, but I used the CrashOnlyExtension one.

[code]

[2015-10-07 16:24] anlinde commented on #207
Under section 2.4 point 3 it says:

The process will be the same for all, just use the one you want instead of the mentioned `HockeySDK.embeddedframework`

Somehow the framework is added as dynamic framework to your project, which should not happen and I have never seen this happening. That's why it tries to strip the binary and copy the framework into the app bundle and sign it, but both should n

[2015-10-07 17:33] wedgybo opened #208 "Pod install of hockeysdk is failing travis builds"
I'm not 100% sure how to look at sorting this, or if it's a problem with our end or not.

I can install the sdk locally just fine using pod install. When we run it on Travis, we're getting a failure when trying to copy the PNG files.

We're using fastlane to create the build so I'm not quite sure if that is having an effect at all. Just seems odd that the install and build works fine locally.

Any

[2015-10-07 19:10] lumaxis commented on #208
Thanks for reporting this! Before I can start investigating this further could you please try two things:
- Try running the exact same xcodebuild command on your local machine (if you haven't already)
- Remove xcpretty and see if that gives you different log messages. In my experience, xcpretty sometimes swallows important parts of error messages.

[2015-10-07 22:33] wedgybo commented on #208
I've tried running it locally and it's working fine, which is what's confusing me. We have the pods folder checked in so the versions should be identical when it's trying to compile it but it always just seems to fail on travis. Because you can't get on to the machine it's tricky to figure out why.

Also because we're using fastlane I can't really change the command it executes as it's generated b

[2015-10-07 22:37] lumaxis commented on #208
Huh, very weird issue. Have you tried disabling xcpretty to see if there's any more helpful logging going on there?
@krausefx Have you maybe seen something like this ever? Any ideas?

[2015-10-07 22:42] wedgybo commented on #208
I've tried disabling it locally, but the problem doesn't seem to show there. Everything builds fine. It must be something environmental on travis but I've no idea what it could be.

I can't see an easy way of disabling xcpretty inside gym. I'll take a look tomorrow at the code to see if there's a way to remove it and see if that throws up more information

[2015-10-08 08:23] anlinde commented on #208
Did you try checking the pods into your repository instead of downloading and installing them on every build? Maybe that helps.

[2015-10-08 08:28] wedgybo commented on #208
Yea we do that already that's why I'm confused to be honest. Comparing the logs from my local build to my travis one, it seems on travis it does some stuff with cleaning the pods and the like that doesn't happen locally so I'll look into that this morning. I'm sure it's a problem our end but I figured someone might have come across it before.

Thanks everyone for their help so far!

[2015-10-08 08:55] 0xced commented on #208
You can use xcpretty and still have full logs:
[code]
(adapted from [Raw xcodebuild output](https://github.com/supermarin/xcpretty#raw-xcodebuild-output) in xcpretty’s documentation)

Then in your `.travis.yml` add this to have access to the full log in case of failure:
[code]

Also, make sure you are using the same Xcode version locally and on Travis, xcodebuild may behave differently. Use the [`

[2015-10-08 10:22] wedgybo commented on #208
Ok. So I'm an idiot. Some pods were checked in then at some point the Pods folder was added to gitignore which I wasn't aware of so the Hockey pod wasn't there at all. Sorry if I wasted anyone's time with this but thanks for the help!

@0xced That's useful information. Thanks for that!

[2015-10-08 10:22] #208 closed

[2015-10-08 13:12] #201 closed

[2015-10-08 14:17] lumaxis commented on #207
@aventurella I took a look at your sample project today. Although I couldn't reproduce your bitcode/codesign issue locally, I noticed that indeed HockeySDK.framework is in the `Copy Files` phase. This is definitely wrong and - as @anlinde mentioned - actually should never happen. Please remove it from the `Copy Files` phase in your own project and see if this solves the code signing warnings.

Als

[2015-10-14 05:51] timward60 opened #210 "“could not inspect application package” Missing framework info.plist"
Hi,

It seems the CrashReporter.framework in Vendor directory is missing a symbolic link for Info.plist that points to Resource/Info.plist. I am hitting the following issue when launching our application with CrashReporter.framework.

10/13/15 10:39:30.687 PM com.apple.CoreSimulator.CoreSimulatorService[1739]: Error Domain=LaunchServicesError Code=0 "(null)" UserInfo={Error=PackageInspectionFailed

[2015-10-14 13:01] lumaxis commented on #210
Hey Tim,

I'm currently trying to verify what is causing this error. Because we haven't seen this in our own apps yet and there also haven't been any other reports so far, can you help in providing steps to reproduce this?

It looks like you are integrating our SDK as source/submodule. Did you follow [these instructions](http://support.hockeyapp.net/kb/client-integration-ios-mac-os-x/integrate-hoc

[2015-10-14 21:09] fcy opened #211 "3.8.2: ld duplicate symbols building for tests on device on Xcode 6.4"
I'm getting the exact same problem as in https://github.com/bitstadium/HockeySDK-iOS/issues/190 but using version 3.8.2 which should support Xcode 6.4 according to https://github.com/bitstadium/HockeySDK-iOS/issues/199.

Only happens when building for tests on a real device.

[2015-10-14 22:07] lumaxis commented on #211
I can only reproduce this issue when also linking HockeySDK with our demo app's test target, if I remove that it works fine with Xcode 6.4 here. Are you also using CocoaPods to integrate the SDK? If so, can you double check your Podfile and let me know if that helps? Thanks!

[2015-10-14 22:16] fcy commented on #211
Yes, I'm using CocoaPods 0.39.0. My `Podfile` looks like this (I've omit all other pods):

[code]

And I checked the `Podfile.lock` to make sure there is no indirect dependency:

[code]

Any other ideas I could try?

[2015-10-14 23:18] lumaxis commented on #211
My only idea right now would be to try removing and re-adding everything CocoaPods related except your Podfile to make sure it's not some sort of caching issue.
If that also doesn't help, it'd be awesome if you can manage to reproduce the issue in a simple sample project that we could then take a look at.

[2015-10-15 12:39] bgerstle opened #212 "Feature request: generate test crashes even in AppStore environment"
Possibly related to #205, but it would be nice to verify that crash reporting works before releasing an app.  We previously did this by having a button in the settings menu which generated a test crash, which used to work for TestFlight builds, but now seems to be a no-op.  Is the recommended workaround for this use case to create our own "generate test crash" method?

[2015-10-15 12:56] lumaxis commented on #212
Yes, this broke because Apple changed the way they sign TestFlight builds which in turn broke our AppStore detection.
This will be fixed with our next update. In the meantime you could build our SDK from source (which already contains the fixes) or use some sort of simple crash you come up with yourself. How about a classic, accessing an empty array? `@[][0]` :)

[2015-10-15 16:10] bgerstle commented on #212
Thanks for confirming @lumaxis! We're just [calling `__builtin_trap()`](https://github.com/wikimedia/wikipedia-ios/pull/172/files#diff-7692a99959cc1e12009e5e6b3429273bR585) like your implementation does.

[2015-10-16 10:12] #212 closed

[2015-10-20 09:31] kshin opened #214 "Add support for Chinese Traditional language"
Hi Guys,

As for now HockeyApp iOS SDK supports only Chinese Simplified language and I would like to see a support for Chinese Traditional language and I think at least at the beginning, SDK can use Simplified translations as Traditional.

[2015-10-20 09:36] lumaxis commented on #214
Thanks @kshin for the suggestion! I don't think we have any plans for supporting additional languages for the very immediate future but I'll definitely discuss this with people internally and see what our plans are for expanding translations :relaxed:

[2015-10-21 02:24] livings124 opened #216 "Bold "Send" instead of "Don't Send" (iOS 9)"
In UIAlertController (and UIAlertView), the cancel button is bolded by default. iOS 9 added preferredAction: to UIAlertController, allowing a different button to be bolded.

"Send Report" should be bolded using this method, since that option makes more sense being emphasized.

[2015-10-22 20:32] lumaxis commented on #206
Hey @NKorchagin, we just released [version 3.8.3](https://github.com/bitstadium/HockeySDK-iOS/releases/tag/3.8.3) which changes this URL to `https` :)

[2015-10-22 20:32] #206 closed

[2015-10-22 20:32] #211 closed

[2015-10-22 20:33] lumaxis commented on #202
Hi @oanaBan, we just released [version 3.8.3](https://github.com/bitstadium/HockeySDK-iOS/releases/tag/3.8.3) which should fix lots of alert issues. Could you check of your issue is fixed? Thanks!

[2015-10-22 20:35] lumaxis commented on #207
Hey @aventurella, we just released [version 3.8.3](https://github.com/bitstadium/HockeySDK-iOS/releases/tag/3.8.3) which also updates our instructions for extensions to use a static variable instead. Check it out, this should fix your log messages.

[2015-10-22 20:35] #207 closed

[2015-10-22 20:36] lumaxis commented on #210
This was actually a local issue, talked to @timward60 privately and he could resolve it.

[2015-10-22 20:36] #210 closed

[2015-10-22 20:37] lumaxis commented on #205
Hey @kevinrenskers, we just released [version 3.8.3](https://github.com/bitstadium/HockeySDK-iOS/releases/tag/3.8.3) which should also fix your TestFlight detection issue. Be sure to check it out! :)

[2015-10-22 20:37] #205 closed

[2015-10-22 20:38] lumaxis commented on #212
@bgerstle A quick heads-up, I just released [version 3.8.3](https://github.com/bitstadium/HockeySDK-iOS/releases/tag/3.8.3) which should fix the original issue :rocket:

[2015-10-23 02:57] tommeier opened #217 "Changelog for v3.8.3"
<img width="540" alt="screen shot 2015-10-23 at 1 54 38 pm" src="https://cloud.githubusercontent.com/assets/19973/10683422/b63683d8-798d-11e5-88e6-d5e2db08e34f.png">

Not provided yet?

[2015-10-23 03:18] tommeier opened #218 "Unable to build v3.8.3 with cocoapod"
<img width="894" alt="screen shot 2015-10-23 at 2 17 48 pm" src="https://cloud.githubusercontent.com/assets/19973/10683738/e427a5ee-7990-11e5-924b-ea88f42beb15.png">

3.8.2 works, this is with XCode 7.1 (El Capitan).

[2015-10-23 07:21] x2on commented on #218
Same problem here!

[2015-10-23 08:32] lumaxis commented on #218
Hey guys,

I just pushed an update that fixes this issue which should be propagating through CocoaPods as we speak. Please give updating to 3.8.4 a try and let me know if something still doesn't work.

Sorry for the hiccup!

[2015-10-23 08:32] #218 closed

[2015-10-23 10:24] lumaxis commented on #217
Hey @tommeier! Thanks for the report. Somehow, our docs generation script didn't do what it should. Will be fixed soon.

[2015-10-23 10:24] #217 closed

[2015-10-23 10:24] tommeier commented on #217
Thanks @lumaxis :)

[2015-10-23 13:12] oanaBan commented on #202
Yep, the issue was fixed. Thanks a lot.

[2015-10-23 14:28] lumaxis commented on #217
There you go @tommeier! :) http://hockeyapp.net/help/sdk/ios/3.8.4/docs/docs/Changelog.html

[2015-10-23 14:48] chbeer opened #219 "Last update broke Carthage support!"
[code]
(shortened the DerivedData paths a bit)

[2015-10-23 14:50] chbeer commented on #219
`*** Checking out HockeySDK-iOS at "3.8.4"`

[2015-10-23 14:59] chbeer commented on #219
Version 3.8.2 works, although there are MANY warnings:

[code]

[2015-10-23 15:23] lumaxis commented on #219
Hey @chbeer,

while don't officially support Carthage (yet), I just pushed a small hotfix that should fix both, the warnings and the build error. Could you quickly try again and let me know if everything works?
The problem was that OCMock doesn't contain an `armv7s` slice which our FrameworkTests target previously required so the build failed. Adapting the valid archs for the test target locally m

[2015-10-23 15:59] chbeer commented on #219
Perfect! Thanks a lot!!

[code]

Clean build :+1:

[2015-10-23 15:59] lumaxis commented on #219
:tada:

[2015-10-23 15:59] #219 closed

[2015-10-23 19:38] chbeer commented on #219
Hey @lumaxis ,

I think your fix for the warning now breaks one of my frameworks, that has a dependency to HockeySDK:

[code]

could that be?

[2015-10-23 19:47] lumaxis commented on #219
Hm, possibly, yes. Is this a debug or a release build? Could you try the respective other and see if that also has the issue?

[2015-10-23 19:58] chbeer commented on #219
It worked before (3.8.2). That had all the warnings.

[2015-10-24 09:04] tommeier commented on #217
Perfect :dancer:

[2015-10-27 15:39] ob1techno opened #220 "BITFeedbackComposeViewController issues with rotation"
Looks like there are still some issues with rotation in the BITFeedbackComposeViewController - the "Add Image" button is often displayed off centre and sometimes in landscape view, the "Add Image" button appears in portrait position.

[2015-10-27 15:39] ob1techno opened #221 "BITFE"

[2015-10-27 15:39] ob1techno opened #222 "BITFE"

[2015-10-27 15:39] #222 closed

[2015-10-27 15:40] lumaxis commented on #221
Anything we can help you with? :)

[2015-10-27 15:43] ob1techno commented on #221
Sorry, cat jumped on keyboard as I was typing. I updated the details in the ticket you just closed as a duplicate!

[2015-10-27 15:45] lumaxis commented on #221
:smile:

[2015-10-27 15:45] #221 closed

[2015-10-27 15:45] lumaxis commented on #220
Can you give us a bit more information about your setup? OS version, device(s), SDK version? Thanks!

[2015-10-27 15:50] ob1techno commented on #220
HockeySDK 3.8.4 (release notes suggest the issue was fixed in 3.8)
iOS 9.1 SDK
Xcode 7.1
Seeing this on a variety of iPhone models/OS versions, but mostly testing on iPhone 5 running iOS 9.0.2 and iPhone 6s running iOS 9.1

[2015-10-27 17:17] anlinde commented on #214
Hi,

thanks for your suggestion. As @lumaxis already mentioned we currently have no plans to extend the amount of languages we support out of the box. This might change in the future though.

Best,
Andreas

[2015-10-27 17:17] #214 closed

[2015-10-29 07:56] oanaBan commented on #202
It seems that this was fixed only when opening the app from background, when opening the app after it was previously closed it's still not working.

[2015-10-30 15:34] lumaxis commented on #200
Hey @aventurella, do you still need help with this? :relaxed:

[2015-10-30 19:36] aventurella commented on #200
I'm good, thanks!

[2015-10-30 19:36] #200 closed

[2015-11-02 13:58] anlinde commented on #216
We removed the use of `UIAlertController` for now, since it has way too many issues.

"Don't send" is assigned to the cancel action, which is the one that gets rendered in bold in `UIAlertView`. This is correctly used according to the API and documentation.

[2015-11-02 13:59] #216 closed

[2015-11-03 11:59] lumaxis commented on #219
Hey @chbeer! Sorry for the long radio silence on this, other things got in the way :/
Fortunately, this problem has been made a lot easier to solve by last week's release of Carthage 0.9.4 which also brings improvements for Bitcode.
While we don't plan to release a new version in the very immediate future, you should be fine by pointing your Cartfile to our `develop` branch.
Sorry again for the la

[2015-11-03 12:02] chbeer commented on #219
Thanks, Lukas! Good to know!

On Tue, Nov 3, 2015 at 12:59 PM, Lukas Spieß <notifications@github.com>
wrote:

[2015-11-04 17:00] lumaxis commented on #220
Hey @ob1techno!
I've looked at this over the last week and although I tried several different apps and setups, I couldn't reproduce this issue. Do you have any more detailed steps I can use to repro or maybe even a specific demo project that shows the behaviour? Thanks!

[2015-11-04 17:01] lumaxis commented on #202
Thanks @oanaBan for getting back to us! I'll have a look at this and try to reproduce as soon as I can.

[2015-11-05 18:33] xiaoyongwu opened #226 "Protecting keychain items"
Hi,
We are using HockeySDK in our iOS app and our mobile app security scanning identified an issue as "Keychain Items Using Weak Protection Class - AccessibleAlways".  We noticed that it is coming from the following lines in the SDK.
https://github.com/bitstadium/HockeySDK-iOS/blob/a1e7a782122ffcdd32eefafdf5d6c3e28c39bbeb/Classes/BITKeychainUtils.m#L125-L127

+ (BOOL) storeUsername: (NSString *) u

[2015-11-05 18:35] anlinde commented on #226
We can't do that, since otherwise it won't work that run on the background or where the device is in an unlocked state but the app or extension still needs to work.

[2015-11-06 11:34] ob1techno commented on #220
Thanks @lumaxis - I'll see if I can put together a demo project and send it over

[2015-11-10 17:12] #226 closed

[2015-11-11 17:31] xiaoyongwu commented on #226
I understand the SDK needs to support different use cases. Is it possible to make this configurable so we can configure for our usage?

[2015-11-11 17:33] anlinde commented on #226
As of now, you can fork the SDK and modify it yourself and make your own build. We'll see if it makes sense to make this configurable, but this nothing we can provide in the short term sadly.

[2015-11-15 22:51] zmian opened #228 "SDK will crash the app if hockey app id is nil or blank string"
[code]

Above snippet will crash the app if `hockeyAppId` is `nil` or **blank** string with following: `Fatal error: unexpectedly found nil while unwrapping an Optional value`

Workaround is to add

[code]

Would it be possible to audit the api headers and add nullability audit checks. But would still require the api to check for blank strings
[code]

[2015-11-15 22:56] lumaxis commented on #228
Hey @zmian,

thanks for pointing this out. Nullability Annotations is on out long todo list but no ETA yet :)
I'll look into why this is crashing because that should not happen. Please be aware though that our SDK does not work if the identifier is not valid or empty.

[2015-11-15 23:00] zmian commented on #228
Thanks for quick reply.

Make sense without identifier the SDK wouldn't work but it should't crash the app. Kinda meta... crash logger is crashing the app :D

[2015-11-15 23:05] lumaxis commented on #228
Yes, definitely not. We put a lot of effort into making sure that our SDK never crashes.
My guess is that this is a weird Swift-conversion thing which we haven't run into yet :/

[2015-11-15 23:19] lumaxis commented on #228
@zmian In your example, how are you initializing `hockeyAppId`? Because in my first try I couldn't reproduce the crash.

[2015-11-15 23:31] zmian commented on #228
[code]

`xxxx` represents a value coming from plist either local or remote. It makes sure that `hockeyAppId` has some value present before `setupHockeySDK()` is called.

Only reason why i found this crash was when I was debugging and accidentally put erased the `hockeyAppId` in plist to blank string.

to reproduce this error try this:

[code]

then call it:

[code]

[2015-11-16 00:11] lumaxis commented on #228
I'm not sure what's going here.No matter if I pass in a `String?` or `String!`, both containing `nil`, I don't get the crash.
Can you please check what type `hockeyAppId` is when you pass it in before a crash is happening?

[2015-11-16 00:32] zmian commented on #228
I'll try to set up test project tomorrow to reproduce this error in that. Thank you for looking in to this.

[2015-11-16 00:34] lumaxis commented on #228
That would be perfect! Thanks for your help in tracking this down :)

[2015-11-19 21:12] lumaxis commented on #220
@ob1techno Any updates on this? :relaxed:

[2015-12-02 22:40] lumaxis commented on #228
Hey @zmian, is this still an issue for you? Any updates? 🙂

[2015-12-11 19:16] TroubleMakerBen opened #234 "Updates don't work with disabled crash manager"
In case the crash manager is desabled, in-app-updates don't work according to (https://twitter.com/k06a/status/675390212499972096). Let's investigate and fix if we find something.

[2015-12-11 19:46] k06a commented on #234
[code]

[2015-12-11 19:48] lumaxis commented on #234
Thanks @k06a! We'll try to reproduce and see what we can find out 🙂

[2015-12-14 11:17] anlinde commented on #234
@k06a: For which app ID on HockeyApp is this and which is the value for CFBundleVersion in the app that you are expecting to show an update alert?

[2015-12-14 11:50] k06a commented on #234
`CFBundleVersions` are strongly growing integers like 55, 60, 66, 72 ... I am not allowed to post here app-id, ask me in Twitter direct messages or email me. All works fine before crash manager was disabled.

[2015-12-14 12:56] anlinde commented on #234
@k06a: We sadly can not reproduce this. Could you please add the following line before calling `startManager` and then contact us via support@hockeyapp.net with the console output. This would help us a lot understanding your scenario:

    [BITHockeyManager sharedHockeyManager].debugLogEnabled = YES;

Thanks

[2015-12-14 18:54] lumaxis commented on #228
I'm closing this since I haven't heard back from you in over a month. Feel free to re-open anytime :relaxed:

[2015-12-14 18:54] #228 closed

[2015-12-14 19:22] k06a commented on #234
I have a few lines after those I showed, this may be matter:
[code]

[2015-12-15 09:36] anlinde commented on #234
@k06a: We really need the debug log output to find out what is happening in your case.

[2015-12-15 18:40] lumaxis commented on #202
Hey @oanaBan,
sorry for the long radio silence on this but I now finally found time to look into this.
I have tried this with a device running iOS 8.1.3 and a LocalAuthentication/TouchID alert and in my tests the HockeySDK update alert showed up with no problem.
Can you confirm that this is still an issue for this? If so, how are you setting up out SDK? Especially in relativity to the code that ca

[2015-12-16 21:51] k06a commented on #234
Logs from simulator:
[code]

[2015-12-17 09:41] anlinde commented on #234
This shows that the request is send with an app version that has the `CFBundleVersion` value set to `52`. And the newest version the server responds with is also `CFBundleVersion` set to `52`.

So the versions are identical and hence no update dialog appears.

[2015-12-17 12:01] k06a commented on #234
Can you check this manually? I am sure latest build has number over 70.

[2015-12-18 21:18] k06a commented on #234
Looks like problem is that json on this link is not good:
https://sdk.hockeyapp.net/api/2/apps/07151c61565642d6800323aeed8f0a8c?format=json&extended=true

Why last build has number 52? Today we made build 90. What happens to your API? Check this app by app-id manually, please.

[2015-12-18 23:07] lumaxis commented on #234
Hey @k06a, we just checked this and everyone of your builds after 52 is restricted but you are using anonymous authentication. This way, the SDK has no way of knowing who you are and if your entitled to have access to any of the builds newer than 52.
Please read our [knowledge base article on authenticating users](http://support.hockeyapp.net/kb/client-integration-ios-mac-os-x/authenticating-users

[2015-12-19 06:30] k06a commented on #234
@lumaxis thanks for your answer. We are using TeamCity to build and upload app to HockeyApp. Is restricted means "private"?

[2015-12-19 13:53] #202 closed

[2015-12-19 22:48] lumaxis commented on #234
We are not familiar with the exact way TeamCity publishes to HockeyApp but from what your uploaded versions look like this sounds plausible, yes.
You can also check the status of your uploaded version on your HockeyApp dashboard. Go to your app, select a version to review and then click the "Manage Version" button. Under the "Status" tab you should see the current restriction status and also be ab

[2016-01-06 04:59] MMasterson opened #237 "Memory Leak - Swift 2.1 xCode 7.2 iOS9.2"
[code]

[code]

On BITUpdateManager

I removed the setup code from the delegate

[code]

No more leak.

[2016-01-07 14:36] anlinde commented on #234
@k06a: Is this issue solved?

[2016-01-07 14:38] anlinde commented on #220
@ob1techno Got any updates to reproduce this issue? Thanks.

[2016-01-14 21:19] amitmawkin commented on #187
is there an update to issue the above link results in 404

[2016-01-14 21:22] lumaxis commented on #187
@amitmawkin The current SDK version 3.8.5 has been working reliably with current versions of Xcode for a while now. Are you experiencing any issues?

[2016-01-14 21:27] amitmawkin commented on #187
@lumaxis maybe the open source project I was trying to build is using an old version,
I was trying to run the build via jenkins using a continuous integration process and was running into this , so i will take the latest fork and see if that helps.

thanks again for your quick response

[2016-01-14 21:30] lumaxis commented on #187
@amitmawkin Sure, no problem. If you're running into issues with current version, let me know and I'll take a look.
General note though: There is currently no known upside to having Bitcode enabled for iOS apps in the first place and it only causes trouble. So just switching it off overall might spare you some problems.

[2016-01-26 13:54] anass-b opened #241 "Cannot disable some debug logs in BITCrashManager"
in BITCrashManager.m (line: 1168):
[code]

Could you please use BITHockeyLog() instead of NSLog() ? so then I can set [BITHockeyManager sharedHockeyManager].isDebugLogEnabled to NO and disable this warning if I don't want to see Hockey SDK logs in my console while debugging, and therefore I will not have my console window in Xcode open each time because of this message.

Btw, there are many lines

[2016-01-26 14:01] anlinde commented on #241
Hi, thanks for your feedback.

We are using NSLog in cases we experience situations where our users should be informed directly about issues without requiring them to enable debug logging, which itself shows a lot more information.

Your posted example is a common case where developers don't understand why when testing the SDK they won't see crash reports in HockeyApp. Most don't even look into th

[2016-01-26 14:05] anlinde commented on #241
Just a quick thought: you could also disable crash reporting for your debug builds as a workaround using something like this:

[code]

[2016-01-26 14:16] anass-b commented on #241
@anlinde Thanks for clarification, I can now understand the reason behind this.
For the snippet of code you provided, it will work perfectly for all other logs except the ones with NSLog(), but unfortunately I need the ones with NSLog() to be disabled.
I hope in the future you can provide a separate property, something like "criticalLogsEnabled" which is equal to "YES" by default, and power users

[2016-01-26 14:18] anlinde commented on #241
The snippet should work for the crash reporting NSLog message you mentioned, as that message is only shown when the feature is enabled and the app running with the debugger attached.

Which others are showing up and causing you trouble? You could also say don't initialize the whole SDK when running in debug mode, as I assume you don't need the features in thoses cases anyway. Right?

[2016-01-26 14:27] anass-b commented on #241
@anlinde Disabling Hockey SDK initialisation in debug mode using a macro perfectly solved my problem. Thanks.
PS: for some reason "disableCrashReporting" was not recognised and throws a compiler error. Maybe I did something wrong ? I'm using version 3.8.5. But that's not necessary because my problem is solved now

[2016-01-26 14:31] anlinde commented on #241
My fault, the property is `disableCrashManager` http://hockeyapp.net/help/sdk/ios/3.8.5/Classes/BITHockeyManager.html#//api/name/disableCrashManager

[2016-01-26 14:42] #241 closed

[2016-01-27 08:23] BobDG opened #242 "Cocoapods setup has many warnings"
I get tons of warnings like these (only copying 3 here) when I use cocoapods for the setup and then build:

warning: (arm64) /Users/Bobdegraaf/Dropbox (Persoonlijk)/GraafICT/Projecten/Template/Storyboard/App/Pods/HockeySDK/HockeySDK-iOS/HockeySDKCrashOnly/HockeySDK.framework/HockeySDK(BITHockeyManager.o) unable to open object file: No such file or directory
warning: (arm64) /Users/Bobdegraaf/Dropb

[2016-01-27 08:58] lumaxis commented on #242
@BobDG Which version of CocoaPods are you using and what does your Podfile look like?

[2016-01-27 10:05] BobDG commented on #242
@lumaxis

I use Objective-C, the cocoapods version = 0.39.0 and this is my podfile:

platform :ios, '8.0'
inhibit_all_warnings!
target "Template" do
pod 'HockeySDK', :subspecs => ['CrashOnlyLib']
end

[2016-01-27 10:23] lumaxis commented on #242
Hey @BobDG,

I just tried reproducing this using your exact `Podfile` and also using CocoaPods `0.39.0` with no luck.
From your original post, I'm seeing that your project seems to be located in your Dropbox folder and also that the path name contains parentheses. Both of these have been known to cause trouble with Xcode in the past.
Could you try moving the project outside of your Dropbox folder

[2016-01-27 13:20] BobDG commented on #242
@lumaxis I tried with a new project and indeed I don't have issues there. I think it might have to do something with the fact that sometimes when I run Cocoapods 'pod install' while the project is open I have a duplicate reference to the main project/target in the left-hand navigator. So below the Pods target reference is another reference to the exact same target of the one at the top. Even if I

[2016-01-28 16:41] #242 closed

[2016-01-28 16:41] lumaxis commented on #237
This is fixed and will be part of the next release.

[2016-01-28 16:41] #237 closed

[2016-01-28 16:41] #234 closed

[2016-01-28 16:42] #220 closed

[2016-02-04 19:07] galbraithjoseph opened #246 "BTCrashManager appEnteredForeground not called if startManager called from didFinishLaunchingWithOptions"
appEnteredForeground is not called if startManager is called from didFinishLaunchingWithOptions; this is because during didFinishLaunchingWithOptions (at least on iOS 9.2.1), [[UIApplication sharedApplication] applicationState] is UIApplicationStateInactive and so the check at the bottom of startManager does not pass.

The notification never fires either, until the app is backgrounded and then mad

[2016-02-04 20:08] galbraithjoseph opened #247 "Username, email, etc. not included in appNotTerminatingCleanly reports"
I'm pretty sure this is because cacheFilename in sendNextCrashReport has the .fake in it, but in storeMetaDataForCrashReportFilename:filename, filename does not have the .fake.

[2016-02-07 17:22] mtoon opened #249 "Spaces in version number not escaped in urls"
If you have a space in your CFBundleIdentifier, the https calls fail with a
[HockeySDK] -[BITUpdateManager reportError:]/91 ERROR: unsupported URL

Looking at the code, it seems this might be a simple fix by adding space as one of the encodable characters in BITHockeyHelper::bit_URLEncodedString

We found this after upgrading to 3.8.5 from 3.6.2 and the usage stats were no longer updating for the

[2016-02-07 17:45] lumaxis commented on #249
Thanks @mtoon for finding this! I already started looking into this and am working on a fix. I'll let you know once it's merged.
I'm also glad you found the debug mode helpful 🙂 We're working on an enhanced version with a more configurable debug log in #244, in case you want to take an early look.

[2016-02-07 17:51] mtoon commented on #249
@lumaxis Thanks!  Just created a PR for this.. we need the curly braces as well if that's ok.  Here's the PR:
https://github.com/bitstadium/HockeySDK-iOS/pull/250

Thanks again!

[2016-02-08 00:32] lumaxis commented on #249
Just a quick note: According to [Apple's documentation](https://developer.apple.com/library/ios/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html#//apple_ref/doc/uid/20001431-102364), a bundle version

So you might still want to look into changing your build system and the string as it's not guaranteed that all of Apple's systems will support it.

[2016-02-08 00:36] mtoon commented on #249
Thanks for the note.  For production (app store builds) we adhere to that.. It's only the beta-team builds that have the special Project, Hash build id.  Thanks again!

[2016-02-08 11:52] Ji11erBug opened #252 "HockeySDKResources.bundle is missing"
I am using HockeySDK Crash Only. I connect the library as discarded in the instruction. I guess HockeySDKResources are not needed for Crash Only functionality, but why framework still produces warnings, can it be removed?

[2016-02-08 11:59] anlinde commented on #252
By default the resource bundle is needed, as the SDK shows an alert on the next startup asking the user if they agree to send the crash reports.

If you setup the SDK to send crashes without asking your users, you don't need the resource bundle.

[2016-02-08 12:05] Ji11erBug commented on #252
Ok. I understand you. So why HockeySDKResources.bundle is only in HockeySDK.embeddedframework subfolder and missing for HockeySDKCrashOnly and HockeySDKCrashOnlyExtension

[2016-02-08 12:08] anlinde commented on #252
With Extensions the bundle is not needed, as alerts are not allowed in Extensions and the SDK automatically turns on auto-sending.

In general the SDK turns on auto-sending of crash reports if it can't find the bundle but shows the warning to make you aware of this. If you want the alerts, you can copy the bundle from the embedded framework.

[2016-02-08 12:11] Ji11erBug commented on #252
Ok. Thank you. I think issue can be closed.

[2016-02-08 12:12] #252 closed

[2016-02-08 21:00] #188 closed

[2016-02-09 06:05] anuj77 opened #253 "Duplicate Error"
Hi,

I am using Xcode 7.2.1
Hockey App:3.7.3 [http://hockeyapp.net/blog/2015/08/20/hockeysdk-ios-3-7-2-release-notes.html]
Other Linker Flag: -ObjC [I need to add this other linker flag as I have to add Google Sign In: https://developers.google.com/identity/sign-in/ios/sdk/]

When I add -ObjC flag it is giving me following errors[almost 600 duplication errors but here I have added a few]:
I tried

[2016-02-09 12:44] lumaxis commented on #253
Hey @anuj77!
Are you using our release binary from http://hockeyapp.net/releases/ ? In any case, could you please update to version 3.8.5 which contains all of the most recent features and fixes.
I'm curious, why does your project include `CrashReporter.framework` separately? The HockeySDK binary that we ship already includes this and you won't need it. If you include both, the duplicate symbol er

[2016-02-09 15:59] lumaxis commented on #247
Closed through 67118c258a9daefecb7441b4d361198690594494

[2016-02-09 15:59] #247 closed

[2016-02-10 03:13] anuj77 commented on #253
Hi @lumaxis
Thanks for the quick response.
I have tried new version 3.8.5 and removed `CrashReporter.framework`.
It seems working now :+1:

[2016-02-10 03:13] #253 closed

[2016-02-19 11:26] thebugcode commented on #237
This is serious for us. Can we get this fix sooner?

[2016-02-24 12:24] sivamoorthykutty commented on #198
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_TWTRAPIClient", referenced from:
      type metadata accessor for __ObjC.TWTRAPIClient in SignupViewController.o
  "_OBJC_CLASS_$_TWTRShareEmailViewController", referenced from:
      type metadata accessor for __ObjC.TWTRShareEmailViewController in SignupViewController.o
  "_OBJC_CLASS_$_Twitter", referenced from:
      type metadata acc

[2016-02-24 12:46] anlinde commented on #198
This issue is not related to HockeySDK as it clearly references a Twitter SDK.

[2016-02-25 08:25] RomanTruba opened #256 "Manual update impossible, if updateSetting != BITUpdateCheckManually"
I'm using BITUpdateManager with update settings equal to BITUpdateCheckDaily.
I want to add possibility for checking for update manually in any moment, but seems like calling `[[BITHockeyManager sharedHockeyManager].updateManager checkForUpdate];` do nothing.

Version 3.8.2

[2016-02-25 08:42] anlinde commented on #256
That is most likely because there was already an update check on that day at the time the app started or got into focus.

Why don't you use set `updateSetting` to `BITUpdateCheckManually` and call `checkForUpdate` every time you want?

[2016-02-25 08:48] Dreddik commented on #256
Because I don't want to store a daily update time by myself.
I believed `checkForUpdate` method would force update, ignoring daily update flags.
That's seems like undefined or undocumented behavior.

[2016-02-25 08:52] anlinde commented on #256
`BITUpdateCheckDaily` really means daily once and it will not make sure not to call it more than once on a day. That's how it is implemented and was meant to be from our end.

So if you want it to behave differently, you need to set it to `BITUpdateCheckManually` and call it yourself the way you want it to do. In that case `checkForUpdate` will not block any calls and process it whenever you call

[2016-02-25 09:01] Dreddik commented on #256
And what if I will switch setting to `BITUpdateCheckManually` before calling `checkForUpdate `, and set back to `BITUpdateCheckDaily` after? As I understand, it shouldn't affect `lastCheck` field, and then SDK will continue checking for update daily. Correct?

[2016-02-25 09:03] anlinde commented on #256
This might work, but I can't guarantee it will always work like this.

Could you describe the scenario you have why you want it to behave like that and how you would trigger additional update checks?

[2016-02-25 09:11] Dreddik commented on #256
For example, some days we might upload 2-3 build a day. After upload I say to my team: "I didn't want to worry you with email, because it's minor update, but if you want to update right now, just press the button in "Settings".

I just switched to `BITUpdateCheckDaily` from `BITUpdateCheckStartup`, because startup checks is too frequent for many people. And to leave possibility for quick in-app up

[2016-02-25 09:13] anlinde commented on #256
I understand, thanks for explaining. Please let me know if your idea works. I'll put it on our list and see what we can do in a future update to make this easier.

[2016-02-26 04:52] MMasterson commented on #237
@thebugcode I needed it ASAP. So I was able to pull the commit with the fix and build it myself. That's what I suggest

[2016-02-28 22:52] dingtianran opened #258 "Just wondering when will be new release"
There is no new official release build for iOS since last October, almost half a year.

[2016-02-29 10:55] anlinde commented on #258
We are planning on providing an update very soon.

Best,
Andreas

[2016-02-29 19:31] dingtianran commented on #258
Hi @anlinde, thanks.
Nothing particular, just curious.
Take your time.

[2016-03-02 19:28] #249 closed

[2016-03-05 00:30] Autoc0diq commented on #186
Andreas,

How is the auth refresh if a user is later to a new team or when new tags are associated with him?
We have a case where a previously authenticated user is not getting prompted for new restricted builds but works after clearing keychain and reauthorizing user.
(We did change from an automatic auth to manual auth in between builds and it started failing when we swtiched to manual).

[2016-03-07 10:47] anlinde commented on #186
@Autoc0diq: could you please create a new ticket and describe in more detail what you are doing in code and where in the process you are running into issues.

Thanks!

[2016-03-08 11:44] mtoon opened #264 "Upgrades showing as crashes"
It seems like we're getting this "crash" whenever a new build is installed via the in-app new version available popover.

Not a huge deal and could be possibly ignored, but if there was an easy way to identify these as non-crashes would be nice.

Thanks!

<img width="740" alt="screen shot 2016-03-08 at 6 41 46 am" src="https://cloud.githubusercontent.com/assets/802418/13600742/f1e942b8-e4f8-11e5-8

[2016-03-08 12:20] anlinde commented on #264
Hi,

I assume you are not using an up to date SDK and did enable the property `enableAppNotTerminatingCleanlyDetection `. There was a bug in our SDK until version 3.7.2 and was fixed in this commit https://github.com/bitstadium/HockeySDK-iOS/commit/64aaf2aa8cb5d64d0b7599a48b95624d6fc234aa

Please update to the latest SDK and check again

Best,
Andreas

[2016-03-08 14:09] mtoon commented on #264
Hi!  We are using 3.8.5...  I noticed the crashes showing up with the last few builds (which is when we enabled the flag), but this last update was the first time I realized it was associated with the upgrade.   I will test on various devices when I push the next build just to make sure it is associated with the upgrade.

Thanks!
-m

[2016-03-10 16:50] dral3x opened #265 "Unable to build app if HockeySDK is loaded as pod with use_frameworks!"
Hello there,

I'm updating our app and i'm not able to building it anymore when I started migrating all libraries as dynamic framework.
The issue reported is during `Copy Pods Resources` phase

[code]

The folder `HockeySDK` inside `DerivedData/.../Debug-iphonesimulator` does not exist. The bundle is inside the `Debug-iphonesimulator` folder directly.

To reproduce it, just create an empty project

[2016-03-10 16:59] dral3x commented on #265
The problems seams to be related to the latest version of cocoapods (1.0.0.beta5)

[2016-03-10 17:11] lumaxis commented on #265
Hey @dral3x! Yes, this is an issue with the latest CocoaPods prerelease version. Using the latest table `0.39.0` or `1.0.0.beta.3` still works though.
This is being tracked in this issue: https://github.com/CocoaPods/CocoaPods/issues/4963

[2016-03-10 17:13] dral3x commented on #265
Thanks @lumaxis !

As workaround for the moment, I can also use `Hockey-Source`.
Just so you know

[2016-03-10 17:13] #265 closed

[2016-03-10 17:23] lumaxis commented on #265
Ah, right. I mentioned that to somebody else yesterday too but forgot today :see_no_evil:
Another trick that might make some lives easier: You can still use the older version of the CocoaPods gem by calling it like this `pod _0.39.0_ install`

[2016-03-10 17:27] dral3x commented on #265
I already migrated all my Podfile to the new keywords etc so I prefer to use a different workaround but thanks! That's another great hint!

[2016-03-11 12:53] lumaxis commented on #264
@mtoon I couldn't reproduce this behavior in my tests unfortunately. Just to make sure, I added another call to make sure we properly persist the flag indicating that the app exited because of an update in https://github.com/bitstadium/HockeySDK-iOS/commit/bfb9101ca8a71bb0f4bd4a9036e61df04fc73b2d
Please let me know if you find out any more details how/when this happens!

[2016-03-12 21:58] lumaxis commented on #258
Here we go: https://github.com/bitstadium/HockeySDK-iOS/releases/tag/3.8.6
:rocket:

[2016-03-12 21:58] #258 closed

[2016-03-15 10:16] lumaxis commented on #265
Just a quick FYI: A new version of CocoaPods that fixes this issue has just been released: https://github.com/CocoaPods/CocoaPods/releases/tag/1.0.0.beta.6

[2016-03-17 03:05] gershwin88 opened #268 "Usage time statistics not sent"
When updateSetting is set to BITUpdateCheckManually and checkForUpdate is never called. Usage statistics are never sent to the server.

This comes up because I do not want the user to be prompted to update when there is a newer version but do want to see user statistics.

It looks like this is do to the fact that usage statistics are sent in the request to checkForUpdate in BitUpdateManager, but s

[2016-03-17 09:21] anlinde commented on #268
Yes, this is by design. With the new User Metrics feature coming up in our Preseason program this will be separated and also working for store releases. See http://hockeyapp.net/preseason/

[2016-03-28 17:00] lumaxis opened #270 "Copy fix for Xcode 7.3 compiler warning from Mac SDK"
We should copy the fix from here https://github.com/bitstadium/HockeySDK-Mac/pull/62
Gets rid of a spurious warning :+1:

[2016-03-29 13:54] mtoon commented on #264
@lumaxis Sorry about the slow response.. not getting notifications from Github..   Appreciate it!  Looks like it might still be happening in 3.8.5, but can't narrow down.  It's random, but I'll keep trying to figure out how/when/why.  Thanks again!

[2016-04-03 22:19] gershwin88 commented on #268
Thanks for the reply, I'll check out preseason.

[2016-04-03 22:19] #268 closed

[2016-04-11 15:50] lumaxis commented on #270
Fixed in https://github.com/bitstadium/HockeySDK-iOS/commit/ace088d39b769da36cdbe0265aef461f3ec13959

[2016-04-11 15:50] #270 closed

[2016-04-11 20:24] eliburke opened #273 "Difficult to recover from error during identifyWithCompletion"
In our app, I don't need to authenticate the user, I just want them to self-identify with a valid email address. As long as the email address is correct, everything works. However, if the user enters an invalid email address ... it's pretty much game over without restarting the app.

The problem is that on failure (say an invalid email is entered), BITAuthenticationViewController calls completion

[2016-04-11 20:31] lumaxis commented on #273
As it happens, I am just looking into a problem very closely related to this one today.
I'll make sure to also cover your use case and see that we provide a fix soon :ok_hand:

[2016-04-14 12:42] lumaxis commented on #264
We've had another report of this issue so I'll try to investigate once more :mag:

[2016-04-14 16:24] wuaschtikus opened #278 "Carthage Support"
Is it possible to add carthage support? Would be nice!

[2016-04-14 16:38] lumaxis commented on #278
@wuaschtikus This SDK should actually already work with Carthage. Have you given it a try?
We're in the process of adding "official" support and also announcing it in our Readme, see #262 :rocket:

[2016-04-18 14:06] #278 closed

[2016-04-26 10:06] milanstevanovic opened #282 "iOS HockeySDK saves project git data to NSUserDefaults"
I have encountered a very strange problem while working with latest version of HockeySDK for iOS.
On a project that I'm working on, client hired a pen-testing company.
They found a potential security issue that we traced back to the HockeySDK.
When we setup the HockeySDK it fills the NSUserDefaults plist file in the iPhone's memory (Library/Preferences/com.<organization>.<app>.plist) with some dat

[2016-04-26 10:29] lumaxis commented on #282
@milanstevanovic I'm not entirely sure I can follow. What kind of data has been found there? Can you describe in more detail what "data about our git repo" means?
In general, the data saved under the `BITUpdateArrayOfLastCheck` key is a small cache of the versions of your app that the SDK received through the HockeyApp API so it wouldn't be surprising if the data found contains your last versions

[2016-04-26 11:45] taher-mosbah opened #283 "Conflict with PINRemoteImage (probably other networking libraries)"
Please see my issue here ::
https://github.com/pinterest/PINRemoteImage/issues/192

Regards

[2016-04-26 11:45] milanstevanovic commented on #282
@lumaxis  Sorry for not being clear. Under "data" I meant it contains complete list of all commits, for example "Commit 1: Merged branch X with branch Y, Commit 2: Fixed bug for ticket XXX", and there are also links to the repo in some commits, so this is considered a possible security risk. I tried to find where and why is this happening but I can't seem to locate the problem. It basically copies

[2016-04-26 11:51] milanstevanovic commented on #282
@lumaxis It copies the whole git log under the "BITUpdateArrayOfLastCheck" key. For example:
"
[Bug] Fixed bug for ticket 453
[Merge] Merged branch X with branch Y
"
So basically the list of all the commits, same as it is display in SourceTree for example.
Some of our commits contain links to the repo, so client is considering this a security flaw.
I tried to figure out why is this happening but i

[2016-04-26 11:54] lumaxis commented on #282
Thanks for the additional info @milanstevanovic, we'll investigate!
Would you mind additionally opening a support request at https://support.hockeyapp.net with your App ID so we can take a closer look?

[2016-04-26 11:55] anlinde commented on #282
@milanstevanovic Do you add your git commits into the release notes?

[2016-04-26 12:07] milanstevanovic commented on #282
@lumaxis Sure, I created the issue, thanks for the fast replies
@anlinde Yes, and we have the merge in release notes, for example: Merge branch 'master' of https://git.<our-website>.com. Is it possible to disable/remove this for old commits?

[2016-04-26 12:09] anlinde commented on #282
@milanstevanovic: that's the reason, the SDK caches the update information including the release notes for the Update UI. So this only happens for your beta versions and will never happen in the App Store as the whole functionality is automatically disabled in that environment.

[2016-04-26 12:12] milanstevanovic commented on #282
@anlinde @lumaxis
That's really cool, it makes my job a lot easier.
Really professional and fast support, thank you guys again for helping me! 👍

[2016-04-26 12:24] #282 closed

[2016-04-26 13:20] anlinde commented on #283
Hi @taher-mosbah

I am not sure I understand what the issue is? Is there a compiler or linker error you get? Could you provide a sample project that shows the issue?

Best,
Andreas

[2016-04-26 17:37] ccombes opened #284 "Unable to read the license file"
Using the latest version 3.8.6 and I see the following error:
[!] Unable to read the license file `<path>/Pods/HockeySDK/HockeySDK-iOS/LICENSE` for the spec `HockeySDK (3.8.6)`

It appears this file has moved.

[2016-04-26 17:58] lumaxis commented on #284
Unfortunately, I cannot reproduce this locally.
Which CocoaPods version are you using? I tried both `0.39.0` and `1.0.0.beta.8`.
Also, would you mind posting the contents of your Podfile?

[2016-04-26 19:52] ccombes commented on #284
I'm sorry.  It appears it is a path issue on our end.  I will update this post shortly.

[2016-04-26 21:49] ccombes commented on #284
I'm up and running again.  Rather than post a lengthy explanation I will simply say that I updated our podfile as per the readme.  I appreciate your responding.

[2016-04-26 21:49] #284 closed

[2016-04-26 21:51] lumaxis commented on #284
Sure, no problem :) Glad you got it working again!

[2016-04-27 16:20] dimazen opened #287 "Carthage: WARNING: HockeySDKResources.bundle is missing"
Installing your framework through Carthage, version 4.0.0.
During launch receiving warning in log:
[code]

However, during inspection of copied framework it contains bundle resources, so I'm confused a little bit.

[2016-04-27 17:38] dimazen commented on #287
Nevermind, looks like it was because of 3.8.2 installed before. After full cleaning warning is gone.

[2016-04-27 17:38] #287 closed

[2016-05-02 15:09] lumaxis commented on #283
@taher-mosbah Unfortunately, we have no clear idea what the issue is and have also not heard any similar issues. I'll close this for now, please feel free to re-open with more info at any time!

[2016-05-02 15:09] #283 closed

[2016-05-06 14:02] fluidsonic opened #294 "Cannot unset userID and userName anymore"
We set `BITHockeyManager`'s `userID` and `userName` properties when the user is signed in.
Once the user signs out, we unset the properties by setting them to `nil`. In that case the SDK falls back to its own generated user ID.

With a recent update of your SDK, `userID` and `userName` have been annotated **non-nullable**, which effectively prevents us from unsetting these values. An empty string

[2016-05-06 15:58] #294 closed

[2016-05-06 16:08] lumaxis commented on #294
Hey @fluidsonic! As you can see, I just fixed this in https://github.com/bitstadium/HockeySDK-iOS/commit/0ba22989342409d757a3d8b3150f05a28c1b1f9e and it will be available in the next release.

What different behavior do you see? How are you using the "log-out"?

[2016-05-06 16:23] fluidsonic commented on #294
Thanks, good to know!

I derive the differing behavior from the SDK's sources since there's no documentation about what happens when I set `userID` to an empty string.

[BITCrashManager.m, line 635](https://github.com/bitstadium/HockeySDK-iOS/blob/94d46b3d0af1af9e574a07f6deb94b0b2868d819/Classes/BITCrashManager.m#L635) for example will behave different when the `userID` is `nil` (unset) or an empt

[2016-05-06 17:32] lumaxis commented on #294
You are right that there are indeed cases where the SDK differs when `userID', etc. are `nil` but these are only present in the `BITFeedbackManager` class, like [here](https://github.com/bitstadium/HockeySDK-iOS/blob/94d46b3d0af1af9e574a07f6deb94b0b2868d819/Classes/BITFeedbackManager.m#L371-L375) for example.

The example you mentioned is actually not problematic as it defaults to empty string [a

[2016-05-06 17:51] fluidsonic commented on #294
Haut it overwrites the user ID set a few lines earlier.

Anyway we'll just stick with 3.8.6 until this is fixed :)

[2016-05-12 11:02] gereons commented on #265
This just resurfaced on my CI box after updating to Cocoapods 1.0. Reverting to 0.39.0 solves the issue, unfortunately `Hockey-Source` doesn't even compile for me.

[2016-05-12 11:47] lumaxis commented on #265
@gereons Just to clarify, with which pod are you seeing this issue on your CI box, `HockeySDK` or `HockeySDK-Source`? The former works fine for me, I'm investigating the issue with the latter.

[2016-05-12 12:28] gereons commented on #265
I saw the "HockeySDKResources.bundle not found" problem as described by @dral3x
Tried using HockeySDK-Source instead, couldn't compile because some private header files couldn't be #imported.
Reverted back to CP 0.39.0 and using HockeySDK since I can't currently spend time on the investigation, unfortunately.

[2016-05-12 12:40] lumaxis commented on #265
Hm, weird. I'm using this Podfile:
[code]
and `pod install` with CocoaPods 1.0 works without any issues.

[2016-05-12 12:45] gereons commented on #265
The problem does not occur at `pod install` time, but while building, during the `Copy Pods Resources` phase.

[2016-05-12 12:51] lumaxis commented on #265
Yes, sorry forgot to mention that it also builds fine for me after running `pod install`. Do you also have this problem when building locally or does it only occur on the CI machine? Do you have your `Pods` directory checked into source control?

[2016-05-12 13:30] gereons commented on #265
Weirdly enough, this only happened on the CI machine. The Pods directory is not versioned, but clearing it and all cocoapods caches didn't help.

[2016-05-12 16:44] lumaxis commented on #265
@gereons Unfortunately without any further information or steps how to reproduce this I can't really help with this :/
FWIW though, the issue with `HockeySDK-Source` should be fixed now, can you try that again?

[2016-05-13 07:38] gereons commented on #265
@lumaxis Understandable, this is most likely a cocoapods issue anyway. I just wanted to let you guys know.
I'll see if I can investigate more soon, when I can afford to not have a running Jenkins for a few days.

And thanks for fixing `HockeySDK-Source`, that works now.

[2016-05-13 16:51] lumaxis commented on #265
Yep, if you ever find steps to repro this, please do share :)
Thanks already for letting us know 👍

[2016-05-30 10:00] tutipeti commented on #265
For the record: after digging through a billion issues on the CocoaPods GitHub repo I found this one: https://github.com/CocoaPods/CocoaPods/issues/5358 which might explain why the builds are failing on CI (like it did for me now).

[2016-06-06 22:26] gabek opened #300 "Using Feedback Manager w/ AlertController on screen moves AlertController"
If you present the feedback manager (via taking a screenshot) while an iOS AlertController is on the screen, the AlertController is moved when dismissing the feedback manager.

Is this something anybody has seen before?

![image_0](https://cloud.githubusercontent.com/assets/414923/15839867/e078b98e-2bfa-11e6-8ed7-cb250ee47322.jpg)

[2016-06-06 22:48] erinstandley commented on #300
What I've noticed is:

1. take screenshot
2. AlertController moves
3. feedback manager appears
4. close feedback manager (via `Cancel` or `Send`)
5. AlertController remains in the arrangement you see in @gabek's comment

[2016-06-07 03:54] DangMH opened #301 "App Hangs when MetricsManager is disabled and exception is thrown"
### Repro Project
[TestHockeyApp.NativeiOS.zip](https://github.com/bitstadium/HockeySDK-iOS/files/301795/TestHockeyApp.NativeiOS.zip)

### Repro Steps
1. Start app
2. Press 'Throw Exception'
3. Verify app hangs

### Notes
Occurs when MetricsManager is disabled before the manager is started:
[code]

[2016-06-07 22:29] chrwend commented on #301
Fixed via #302

[2016-06-10 09:30] mbmace opened #304 "UpdateManager do not appear"
I tried to use the UpdateManager to show a new version to the user. I'm using an enterprise certificate version of the app.

The problem is: the message of a new app is not shown despite the version at the hockeyApp is updated.

The setup of the HockeySDK:
[code]

Logs:
[code]

I don't see `Start UpdateManager` in the logs. Why isn't this started?

[2016-06-10 14:33] anlinde commented on #304
You are missing a call after invoking `startManager`. Add this line after it:

  [hockeyManager.authenticator authenticateInstallation];

See our documentation about this here: https://support.hockeyapp.net/kb/client-integration-ios-mac-os-x-tvos/hockeyapp-for-ios#2-5-modify-code

[2016-06-12 00:35] #301 closed

[2016-06-13 08:15] mbmace commented on #304
Thank you @anlinde! The missing line fixed my problem.

[2016-06-13 08:15] #304 closed

[2016-06-17 17:21] philippec opened #305 "BITUpdateViewController—tableView:cellForRowAtIndexPath: can return nil"
In BITUpdateViewController, the delegate method tableView:cellForRowAtIndexPath: has a code path that can return nil. The method is now marked as expecting a non-null value, so the static analyzer reports:

HockeySDK/Classes/BITUpdateViewController.m:499:3: warning: Null is returned from a method that is expected to return a non-null value

[2016-06-17 17:23] philippec opened #306 "BITFeedbackListViewController—previewController:previewItemAtIndex: can return nil"
In BITFeedbackListViewController, the delegate method previewController:previewItemAtIndex: has a code path that can return nil. The method is now marked as expecting a non-null value, so the static analyzer reports:

HockeySDK/Classes/BITFeedbackListViewController.m:1014:3: warning: Null is returned from a method that is expected to return a non-null value

[2016-06-22 20:13] joshbuhler commented on #256
We're in a similar situation to @Dreddik - my team often has multiple builds each day, so we've changed our update checks to be `BITUpdateCheckDaily`. However, there are times where we'd like a tester to be able to hit a "Check for Updates" button and do a manual check.

Right now, were doing something like this, and it appears to be working:

[code]

For most of our testing, a daily check is suff

[2016-06-27 11:05] Muesly opened #307 "iOS library compatibility with Apple IPv6 changes. [TL;DR: Yes, HockeySDK-iOS is compatible]"
Is the HockeySDK using IPv6 only as per: http://appleinsider.com/articles/16/05/04/apple-says-all-apps-must-support-ipv6-only-networking-by-june ?

If so, do I need to conform to a particular version number?

[2016-06-27 11:08] lumaxis commented on #307
Hi @Muesly! Yes, HockeySDK is completely compatible to IPv6-only networks as we only use high-level networking APIs such as `NSURLSession` and have no hardcoded IPv4 addresses in our code.
Although this has been the case for quite some time, please be aware that we only officially support the current stable version so make sure to update to `4.0.1` if you haven't already :)

[2016-06-30 01:49] nabla-c0d3 opened #308 "Deprecated kSecAttrAccessibleAlways protection class used for keychain items"
Hello,

When storing data in the Keychain, the SDK uses the `kSecAttrAccessibleAlways` protection class: https://github.com/bitstadium/HockeySDK-iOS/blob/bfb9101ca8a71bb0f4bd4a9036e61df04fc73b2d/Classes/BITKeychainUtils.m#L126 .

It means that although the data is put in the Keychain, it is never actually protected/encrypted. Because of that, Apple deprecated this protection class last year at WWD

[2016-06-30 03:09] anlinde commented on #308
Thanks for the feedback.

The alternate value is not 100% suitable as apps that get started via bluetooth while the device is locked won't be able to get the data from the keychain. But it is probably the only alternative we have.

[2016-06-30 04:03] nabla-c0d3 commented on #308
Yeah it won't work for Apps that are launched at startup. However Apple now expects Apps to not have access to any data (Keychain or Data Protection API) before the first unlock so it is the expected behavior; stock iOS Apps follow the same rule starting with iOS 8.

[2016-07-04 23:49] davidkennedysc commented on #304
Ran in to the same issue (and burned an hour on this) - I suggest adding an additional comment to the line. It's not obvious that you need to enable that for update checks to function.

[2016-07-05 14:59] anlinde commented on #304
The documentation says that all those lines are needed, why would you not add all of them then?

[2016-07-06 19:52] blach opened #309 "Headers are marked as private - causes issues when integrating the SDK as sources"
The files BITHockeyLoggerPrivate.h and BITChannelPrivate.h are marked as private in the Xcode project.

When archiving my app, these header files are put into the "Private Headers Folder Path" which by default is /usr/local/include.

The headers should be marked as "Project", not "Private". "Private" headers are exported to the build product.

<img width="409" alt="bildschirmfoto 2016-07-06 um 21

[2016-07-11 17:56] #309 closed

[2016-07-11 17:57] lumaxis commented on #309
Thanks for catching this!

[2016-07-13 22:58] TroubleMakerBen commented on #307
Leaving this open for better visibility for a couple more weeks.

[2016-08-15 11:16] DiegoV71 opened #314 "Sending crash report"
Hi, I include this component in project and code in appdelegate
[code]
but reports about my` throw new Exception("message")` not send to service; help me please;

[2016-08-17 16:57] TroubleMakerBen commented on #314
Hello @DiegoV71,

Thanks for getting in touch.
Although your integration code looks fine, it's pretty hard to see from these 5 lines of code what's going on. Please open a support ticket on [support.hockeyapp.net](http://support.hockeyapp.net) so we can have a closer look, e.g. share some code non-publicly.

Some things I can think of without knowing more:
* Does your exception crash the app? If y

[2016-08-17 17:15] TroubleMakerBen commented on #314
Just found out that you're seeing issues with our Xamarin SDK and have opened a support request. Closing this issue.

[2016-08-17 17:15] #314 closed

[2016-08-19 14:35] vox-humana opened #315 "Update PLCrashReporter to 1.3"
Current version of PLCrashReporter (actually 1.3 is still in development I suppose) has a great feature for collecting handled exceptions (asserts)
[PLCR-459](https://opensource.plausible.coop/bugs/browse/PLCR-459) `generateLiveReportWithThread:thread:exception:` method , which could be very handy.

[2016-08-19 15:37] anlinde commented on #315
This is already on our to do list to add, but we don't have an ETA when this will happen. Our Backend is not ready for this yet.

[2016-08-19 15:37] #315 closed

[2016-08-19 16:18] vox-humana commented on #315
@anlinde thank you for the quick response.
Are you talking about upgrading PLCrashReporter framework or full support 'handled/silent exceptions' feature in HockeySDK? We look forward to getting this feature in SDK 😄

[2016-08-19 16:22] anlinde commented on #315
We plan to add support for handled Errors, yes.

[2016-08-31 10:26] varunempire commented on #198
This error is not about Twitter SDK including x86_64 architecture  will solve this problem

[2016-08-31 16:55] TroubleMakerBen commented on #198
@varunempire @sivamoorthykutty
I'm glad you solved your problem. Nonetheless, none of the errors above is related to the HockeySDK as it clearly mentions the Twitter SDK as in **TWTRAPIClient** above.

[2016-09-08 22:32] erinstandley commented on #300
Still having the same issue, but the alert isn't repositioned.

![img_3087](https://cloud.githubusercontent.com/assets/16926315/18369216/52ed6794-75d9-11e6-989e-d14c4244b076.PNG)

[2016-09-09 15:18] tcurdt opened #330 "Xcode8 and Swift3"
A release would be great. Is this the Xcode8 branch?

[2016-09-09 16:56] nheagy commented on #330
I think this is pure Obj-C, in which case specific Swift 3 support isn't necessary.

[2016-09-09 17:11] tcurdt commented on #330
Probably true - yet the latest release gives:

[code]

The `develop` branch gives:

[code]

and `master` gives
[code]

[2016-09-09 18:28] TroubleMakerBen commented on #330
Hey guys,
We're working all hands on HockeySDK-iOS 4.1.1.
Our original plan was to release 4.1.1 yesterday, but were caught off-guard by the issue mentioned at the [top of the Readme in out master branch](https://github.com/bitstadium/HockeySDK-iOS/tree/master) so we need to fix that before releasing 4.1.1.
Sorry for any inconvenience this causes for you.
Benny

[2016-09-13 10:38] tcurdt commented on #330
Hey Benny, thanks for working on this.
Any news on when 4.1.1 will be ready?

[2016-09-13 21:40] TroubleMakerBen commented on #330
Hey y'all!

Thanks for your patience. We just version 4.1.1. Make sure to read the official blogpost and have a look at the readme, especially if you are using our Feedback feature.

Let us know in case you run into issues (here, or via [Support](https://support.hockeyapp.net).

[2016-09-13 21:40] #330 closed

[2016-09-15 15:56] emaloney opened #340 "Default SDK's "ReleaseDefault" build configuration name incompatible with certain Carthage workflows"
Hello,

We use Hockey's "default SDK" for iOS and have recently switched to Carthage as our dependency manager.

In so doing, we noticed that debug builds of our app would compile without a problem, but release builds were failing with the error "`Module 'HockeySDK' not found`" occurring at a line with "`@import HockeySDK;`". Upon further investigation, we discovered that the setup of the HockeySD

[2016-09-16 10:51] tcurdt opened #343 "building shows lots of warnings"
I am building the SDK with carthage
[code]

which gives:
[code]

[2016-09-16 17:08] TroubleMakerBen commented on #343
Hi Thorsten,
thanks for getting in touch. We'll improve that for 4.1.2 (no ETA, yet, sorry). We wanted to include fixes for the warnings in 4.1.1 but with the Xcode 8 and iOS 10 changes at last minute, they just didn't make it.

Have a great weekend!

Benny

[2016-09-20 15:43] BaiCanLin opened #346 "hi if you have a Interactions"
if you have a Interactions，Slow interaction ，☺️Very perfect

[2016-09-20 15:56] TroubleMakerBen commented on #346
I'm sorry but I'm not sure what you are saying but there is a smily-emoji.
:)

[2016-09-20 15:56] #346 closed

[2016-09-21 21:37] #340 closed

[2016-09-25 19:37] AntiHate opened #348 "Umbrella header 'HockeySDK.h' not found"
I'd a working build with v3.7.0 with xcode 7, recently I updated to xcode 8 and HockeyApp V4.1.1, now I'm struggling for hours to solve this issue, I'm developing with React Native so I don't have any good understanding of native iOS side.

1: Umbrella header 'HockeySDK.h' not found
2: Could not build module 'HockeySDK'

Following the migration guide and setup tutorial and I'm pretty sure that did

[2016-09-26 16:42] TroubleMakerBen commented on #348
Hey @AntiHate,
This sounds a lot like a case where your project is in a weird in-between state.
My recommendation would be to "clean" the project up as much as possible, meaning that you delete the working 3.7.0 SDK, your entries for `Framework search path` and `Linked Frameworks and Libraries`, delete all derived data and then, of course, have a project that's failing to build because you've dele

[2016-09-27 21:35] justin opened #350 "Carthage and Photo Library usage"
We got bit by the NSPhotoLibraryUsageDescription exception when uploading a build to iTunes.

Is it possible to either include that `NSPhotoLibraryUsageDescription` key as part of your framework or just ship a Carthage version without that functionality? We use Hockey solely for the crash reporting. I'd rather not have to localize and manage strings for functionality we aren't using just because i

[2016-09-27 22:19] anlinde commented on #350
Regarding defining `NSPhotoLibraryUsageDescription` as part of the SDK: this is technically not possible. You need to add this to your apps `Info.plist`, there is no way this can be done by the SDK, also no way to do it at runtime as this would break signing.

[2016-09-28 02:41] AntiHate commented on #348
Hi @TroubleMakerBen,
Sorry for a late reply and thanks for the detailed post. I tried to do all the things you suggested but unfortunately nothing worked for me.
I've been already trying to build by using 'clean' and removing/adding Hockey Framework and entries from 'Framework search path' and 'Linked Frameworks' but one thing I didn't knew about was removing derived data (Clean build folder), Tri

[2016-10-05 05:06] classified opened #354 "WatchOS 3 Support"
can we have watchOS 3 support?

[2016-10-05 15:59] anlinde commented on #354
We currently have no plans to support watchOS 3. The only feautre that could work there is user metrics, all other features are (technically) not possible.

[2016-10-05 22:52] TroubleMakerBen commented on #343
Fixed as of 4.1.2.

[2016-10-05 22:52] #343 closed

[2016-10-05 22:52] TroubleMakerBen commented on #306
Fixed as of 4.1.2

[2016-10-05 22:52] #306 closed

[2016-10-05 22:53] TroubleMakerBen commented on #305
Fixed with 4.1.2

[2016-10-05 22:53] #305 closed

[2016-10-06 10:56] Eddpt commented on #348
@AntiHate I'm suffering from the same issue. I'm using `HockeySDK` `4.1.1`, including `subspecs` `AllFeaturesLib`.

Interestingly enough, it is only happening for me in TeamCity. In my own machine it builds fine.

I've found out that TeamCity creates incremental deltas of the changes and transfers them in order to avoid the toll of doing clean checkouts from git every time. In my situation, I VNC'

[2016-10-06 20:51] TroubleMakerBen commented on #348
Hey @AntiHate

sorry for letting you hang there without any news.

I just setup a demo-project in React Native and the HockeySDK for iOS integrates just fine. It sounds a lot like you might have wrong paths in your xcode project or something.

I suggest you do the following:
1. Remove the HockeySDK from your project entirely, including the framework added in 'Linked Frameworks and Libraries' and t

[2016-10-06 20:53] TroubleMakerBen commented on #348
@Eddpt thanks for letting us know about this. It sounds a lot like a mix of a cocoapods-issue and teamcity. We changed the structure of our framework in 4.1.1 and looks like team-city cached some contents from the 4.1.0-SDK. Let us know if you continue to see issues or your workaround doesn't work anymore.

[2016-10-07 20:02] AntiHate commented on #348
@Eddpt you pointed out the exact issue, symlinks were broken, actually I've installed MAC on VM, so usually I download/extract stuff in windows and share it on Mac, I didn't noticed that extracting archives in windows thru 7zip breaks symlinks, I extracted the archive in Mac and got a 'build succeed' alert. =)

It looks like a stupid mistake but I really spent couple of days troubleshooting this.

[2016-10-07 20:02] #348 closed

[2016-10-07 22:50] TroubleMakerBen commented on #348
@AntiHate glad you got this sorted out.

If you find some time, feel free to check out 4.1.2 of the SDK. It doesn't contain any simlinks anymore, so you should be able to use 7zip.

[2016-10-12 22:26] AntiHate commented on #348
@TroubleMakerBen Thanks for the info! I'm going to try it now.

[2016-10-17 00:49] gemmakbarlow opened #358 "Xcode Error: Invalid bitcode version (Producer: '800.0.24.1_0' Reader: '703.0.31_0')"
After updating to the 4.1.2 version of the HockeyApp SDK causes the following error when archiving our project for distribution (on Xcode 7.3.1 - compiled against Swift 2.3)- `Xcode Error: Invalid bitcode version (Producer: '800.0.24.1_0' Reader: '703.0.31_0')`

I've reverted back to 4.1.1 now, and can build happily.

Feels related to https://github.com/bitstadium/HockeySDK-iOS/pull/344; at the ve

[2016-10-19 00:15] TroubleMakerBen commented on #358
Hey Gemma,

thanks for getting in touch. You're right, 4.1.2 was compiled using Xcode 8 and if you are using bitcode, it requires Xcode 8.
We're discussing releasing 4.1.3 of the SDK to bring back compatibility with Xcode 7.3.1.

Sorry for inconvenience this causes, I'll update the issue as soon as I have news for you.

Best,
Benny

[2016-10-19 12:00] gemmakbarlow commented on #358
No worries - and thanks for the update. Look forward to hearing back.

- G

[2016-10-24 07:51] nhuanvd opened #360 "Found a crash cause HockeySDK"
- [BITKeychainUtils getPasswordForUsername:andServiceName:error:] BITKeychainUtils.m, line 63

I attached crash report from Hockey. Please help me take a look at this issue.

[code]

[2016-10-24 19:01] TroubleMakerBen commented on #360
Hi @nhuanvd
Thanks for getting in touch. This is the first time we've heard of this happening.
Which version of the HockeySDK are you using?
Can you provide any info on how to repro the issue? This would help a lot.

Best,
Benjamin

[2016-10-25 03:11] nhuanvd commented on #360
Hi @TroubleMakerBen ,

I use latest SDK version (4.1.2) and this issue report from customer so i don't know step to reproduce.

Thank you.

[2016-10-26 02:01] gabek commented on #300
I learned this is actually what happens any time you `present` a new UIViewController from a `UIAlertController`.  It's not specific to Hockeyapp.

[2016-10-26 07:20] BaiCanLin opened #361 "Xcode Log"
![image](https://cloud.githubusercontent.com/assets/8268339/19716695/be1ebfd2-9b8f-11e6-94fb-0a134b019637.png)

objc[4387]: Class PLBuildVersion is implemented in both /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Library/PrivateFrameworks/AssetsLibraryServices.framework/AssetsLibraryServices (0x106270998) and /Applications/

[2016-10-26 18:47] TroubleMakerBen commented on #361
Hi @BaiCanLin

Thanks for getting in touch. I just googled your issue and found several links that explain the issue (e.g. [Apple Developer Forum](https://forums.developer.apple.com/thread/63254) or [this post on SO](http://stackoverflow.com/questions/39520499/class-plbuildversion-is-implemented-in-both-frameworks) and as on of the answers on Stackoverflow suggests, this might be a bug on Apple's

[2016-10-27 14:44] q231950 opened #362 "Pressing 'show' in Update Alert does not show Update view on iOS"
We have observed for some of our employees and even ourselves it happens that 'sometimes' the `show` button of the Update Alert does not present the Update Screen.
Once this happened the Alert will never show up again after sending the App to background and coming to foreground again. Only after killing the App, the Alert will potentially show up again.

It seems to occur randomly on all kind of d

[2016-10-27 23:38] TroubleMakerBen commented on #362
Hi @q231950,

thanks for getting in touch. I haven't heard of this before. Is there an iOS version where it's happening more often?
Have you customized in-app-updates?

I would love to hunt this one down.

Best,
Benny

[2016-10-28 07:20] q231950 commented on #362
Hi @TroubleMakerBen,

thanks for the quick reply. We first had the impression that it would happen more often on slower devices, but then we noticed it on fast ones as well.

Devices where I saw it myself were all on iOS10.x, I can check on a iOS9.x today. It seems to be random.

We haven't customised the Alert, we do the setup in the following order during `application:didFinishLaunchingWithOptio

[2016-10-28 13:54] Stengo opened #363 "Xcode 8.1 - 'bundle format unrecognized, invalid, or unsuitable'"
Building in Xcode 8.1 raises the error:
`HockeySDKResources.bundle: bundle format unrecognized, invalid, or unsuitable
Command /usr/bin/codesign failed with exit code 1`

HockeySDK version is 4.1.2 (via CocoaPods as a static library)

[2016-10-28 17:25] TroubleMakerBen commented on #363
Hi @Stengo,

I just tried to reproduce the issue with yesterday's Xcode build – Xcode 8.1 (8B62) – and Cocoapods 1.1.1. I don't see the issue that you are seeing, integration and building works fine for me.
Can you check the version of your Cocoapods installation and remove HockeySDK from your app and add it back? Other than that, if you continue to see the issue, can you setup a new app with one

[2016-10-28 19:07] simonbromberg commented on #363
I have the same problem. I have setup a new app as you suggested and got the same problem.

I am using Cocoapods 0.39.0.

[2016-10-28 20:54] TroubleMakerBen commented on #363
@simonbromberg thanks for letting us know. I just reproduced the issue here with 0.39, too. Seems to be an issue with cocoapods 0.3.9 and Xcode 8.1 GM and not with our SDK.

Let us know in case you run into issues again and have a nice weekend 🖖

[2016-10-28 20:55] TroubleMakerBen commented on #363
@Stengo can you try to update to Cocoapods 1.1.1?

[2016-10-31 12:22] q231950 commented on #362
Hi @TroubleMakerBen

I just checked on one iOS 9.x device and couldn't reproduce it there. As the issue occurs randomly I still wouldn't rule out iOS 9, though.

If there's anything that comes to your mind just by looking at the order of our calls, please let me know.

Thank you and have a great day
kim

[2016-10-31 14:04] Stengo commented on #363
@TroubleMakerBen updating to Cocoapods 1.1.1 fixed the issue! Thank you for the quick support :)

[2016-10-31 15:37] #363 closed

[2016-10-31 15:38] TroubleMakerBen commented on #361
Closing this as I haven't heard from you.
Feel free to get in touch and I'll open the issue again.

Benjamin

[2016-10-31 15:38] #361 closed

[2016-10-31 16:12] DAOCUONG opened #365 "XCode 8.1 - Compile error"
Try using pod 'HockeySDK' or pod 'HockeySDK-Source'
Got error with Xcode 8.1

...../Build/Products/Debug-iphonesimulator/HockeySDKResources.bundle: bundle format unrecognized, invalid, or unsuitable
Command /usr/bin/codesign failed with exit code 1
Works fine with xcode 8.0.
Have tried remove Pods, delete Derived folder, clean , pod install no luck

Reference https://forums.developer.apple.com/mes

[2016-10-31 16:22] TroubleMakerBen commented on #365
Hi @DAOCUONG

This is a duplicate of [#363](https://github.com/bitstadium/HockeySDK-iOS/issues/363) and updating cocoapods to `1.1.1` solves this issue.

[2016-10-31 16:24] #365 closed

[2016-10-31 16:24] DAOCUONG commented on #365
Thanks Ben

[2016-10-31 17:42] TroubleMakerBen commented on #362
Hi @q231950

Thanks for checking this on iOS 9.
Your setup-code looks fine. I'll try to poke around this week, hopefully tomorrow. Maybe I can repro the issue here.

I appreciate your patience!

Benny

[2016-11-07 18:36] TroubleMakerBen commented on #358
Hey @gemmakbarlow

We've discussed Xcode 7.3.1 support and we chose not to release a new version of the SDK to bring back support for 7.3.1 for now as Apple will stop to allow submissions with Xcode 7.3.1 in the not too far future.
Sorry for the inconvenience this causes you.

Best,
Benny

[2016-11-07 19:43] gemmakbarlow commented on #358
No worries - might recommend adding a note to the README about comptability however.

[2016-11-07 21:18] TroubleMakerBen commented on #358
Will do that =)

[2016-11-08 09:22] preneond opened #367 "ld: framework not found HockeySDK"
After migrating to swift 3 I am having problem with HockeySDK pod. Few hours ago everything worked well but now I am unable to build it. I am getting Match-o  linker error, that framework wasn't found. I am having the same issue, when I work with previous commits, where everything was ok. The same issue i am having also after deleting derived data and restarting the system. Thanks for answer!
<img

[2016-11-09 19:34] kennymeyers opened #368 "Unable to build Hockey SDK via Carthage"
`.../Carthage/Checkouts/HockeySDK-iOS/Support/HockeySDKTests/BITChannelTests.m:31:27: warning: Null is assigned to a pointer which is expected to have non-null value`

This is not allowing the build of the HockeySDK via Carthage. I'm using the latest version of Carthage and Xcode 8.1.

[2016-11-10 23:05] #358 closed

[2016-11-10 23:25] TroubleMakerBen commented on #368
Hi @kennymeyers

sorry it took so long to reply.

You are right about the warning when building with carthage. We'll fix this in the next version of the SDK for which I can't give you an ETA – I apologize for any inconvenience this causes you.
That said, I just successfully integrated the SDK using Carthage, maybe you can live with the warning for now?

Best,
Benjamin

[2016-11-10 23:36] TroubleMakerBen commented on #367
Hey @preneond

thx for getting in touch.
I'm not aware of any issue with our pod and just integrated HockeySDK 4.1.2 into a project with Xcode 8.1, Cocoapods 1.1.1 without any issues.

Which version of our SDK are you using?

Feel free to open a ticket in our [support](https://support.hockeyapp.net) to share more information privately.

Best,
Benjamin

[2016-11-11 01:44] kennymeyers commented on #368
Hey @TroubleMakerBen,

Thanks for the quick response. I was able to build it, but it involved a little bit of timing and commenting out at the right time, and saving right. I can build it, for sure, but it's not great.

Thanks,
Kenny

[2016-11-11 01:55] TroubleMakerBen commented on #368
I'm not sure if I'm getting the "commenting out" part. I can just run `carthage update` and it just runs through.
But yes, it should build without warnings, 4.1.3 will have that fixed.

[2016-11-11 04:38] madhusamuel commented on #367
I too started to get the exact same error all of a sudden on xcode 8.1 and swift 3. One day before it used to build properly.

I upgraded cocoapods to 1.1.0. Deleted the pods directory and Podfile.lock and did a fresh pod install. Magically the "framework not found HockeySDK" error just vanished.

[2016-11-11 16:32] TroubleMakerBen commented on #367
Hi guys,
Glad you guys could resolve the issue. It's always a good idea to have an updated cocoapods version if you're switching to a newer Xcode version.

Have a nice weekend!

Benny

PS: Closing, looks like it's an duplicate of #363 and #365.

[2016-11-11 16:32] #367 closed

[2016-11-11 16:45] preneond commented on #367
few days later it has started to work normally, like nothing happened. It's just  weird, but thanks a lot for support! 👍

[2016-11-15 21:43] TroubleMakerBen commented on #360
Hey @nhuanvd,
I just wanted to give you a heads-up. We've heard of a similar issue once or twice before by a customer but we're not able to repro it at all.

We will update this issue in case we find anything. I apologize for this not very satisfying answer.

Best,
Benny

[2016-11-16 17:06] TroubleMakerBen commented on #350
Closing this issue.

[2016-11-16 17:06] #350 closed

[2016-11-18 19:47] #354 closed

[2016-11-18 20:50] TroubleMakerBen commented on #368
This will be fixed in #370 – 4.3.1 will be released in the first half of December.

[2016-11-18 20:51] TroubleMakerBen commented on #307
Just to make sure this is at the top of the list of issues.

[2016-11-18 20:59] kennymeyers commented on #368
Thanks so much @TroubleMakerBen

[2016-11-22 06:51] TroubleMakerBen commented on #362
Hey @q231950,

It's been a while and I have done testing. I couldn't repro this issue at all on 10.1.1 and 9.3.5.
How's the state of things? I guess you're still seeing this issue?

Best,
Benjamin

[2016-11-24 13:03] q231950 commented on #362
@TroubleMakerBen

Hi there, sorry for the late reply. A colleague of mine just came to me after it didn't work for him twice (iPhone 6s 10.1.1). When we did it together it worked, it's like ✨

-> tap on show -> nothing happens (only alert goes away)

Thank you
kim

[2016-11-29 12:50] rwach opened #371 "Xcode analyzer alert"
The HockeySDK Framework generates some Xcode analyzer alerts like "Null is returned from a method that is expected to return a non-null value" in the Files BITUpdateViewController.m and BITFeedbackListViewController.m

[2016-11-29 19:25] dmdeller commented on #367
TLDR: To fix, delete `Pods` folder, and re-run `pod install`.

Our team ran into the same issue, also after a Swift 3 / Xcode 8.1 upgrade. Cocoapods was already at v1.1.1 and re-running `pod install` did not resolve the issue. (Also tried the usual dance of cleaning DerivedData etc.).

After reading this thread, I deleted the `Pods` folder, but left `Podfile.lock` as-is. Then I re-ran `pod install

[2016-11-29 19:27] lumaxis commented on #367
Thanks for the info @dmdeller !

[2016-11-29 21:53] TroubleMakerBen commented on #371
Hey @rwach,

thanks for getting in touch. Which version of the SDK are you using? The latest version of our SDK (4.1.2) doesn't have those analyzer warnings. There is one warning that we know related to a unit test and it has been fixed in #370.

[2016-12-01 08:27] ittna opened #372 "Integration through Carthage without Feedback feature"
Would it be possible to make Carthage build two versions of the shared framework? Full featured one and one without Feedback feature. Users could then choose which one to integrate into their project.

This way we wouldn't need to add NSPhotoLibraryUsageDescription in case we aren't using feedback feature.

[2016-12-03 01:20] cgmello opened #373 "BITUpdateManager crashes on startup"
BITUpdateManager crashes on startup. I need to disable the feature to use HockeyApp.

Error on BITUpdateManager.m:1226:

Function:

Code:
`[[BITHockeyManager sharedHockeyManager] configureWithIdentifier:@"XXX"];`
`[[BITHockeyManager sharedHockeyManager].authenticator setAuthenticationSecret:@"XXX"];`
`[[BITHockeyManager sharedHockeyManager].authenticator setIdentificationType:BITAuthenticatorIdent

[2016-12-03 01:23] cgmello commented on #373
SDK version 4.1.2

[2016-12-03 01:51] cgmello commented on #373
Hockey app crash report:

CrashReporter Key:   A00096B6-997D-4D9A-A9BB-A3313F88942C
Hardware Model:      iPhone8,1
Process:         xtremeu [6037]
Path:            /var/containers/Bundle/Application/763556E7-B65B-4DA7-B164-C6D8C9F666BD/xtremeu.app/xtremeu
Identifier:      com.xtremeu.XtremeU
Version:         1.0 (3)
Code Type:       ARM-64
Parent Process:  ??? [1]
Date/Time:       2016-12-02T22:05

[2016-12-03 05:01] TroubleMakerBen commented on #373
Hey Claudio,

thanks for getting in touch and apologies for the problem you are seeing. We haven't heard of any issue like this by anyone and I have received and distributed app updates in the last weeks myself. That said, it could very well be a bug. I will look into this as soon as I get back to work on Monday.

Are you seeing a similar issue with 4.1.1 or does it just happen since you use 4.1.2

[2016-12-03 14:39] cgmello commented on #373
Hi Benjamin,

First, congratulations for Hockey, very useful !!

Well, it is weird that nobody else had this error, I could only run Hockey after disabling the update manager.

I made this integration this week, I use 4.1.2, have not use any earlier version.

I integrated the SDK using the HockeyApp for Mac.

Thx.

[2016-12-03 14:47] cgmello commented on #373
It seems a memory issue, a URLSession that was not assigned anymore.

BITUpdateManager.m in master branch:

Function

Line

Error:

I thought that it could be an exception domain error, and so included your domain in my Info.plist, but it doesn't resolved the bug.

`            <key>hockeyapp.net</key>`
`            <dict>`
`                <key>NSIncludesSubdomains</key>`
`                <true/>

[2016-12-05 20:29] TroubleMakerBen commented on #373
Hey Claudio,

We've tried really hard to repro the issue and we didn't have any luck. What strikes me as odd is that we haven't heard from anyone with those problems.
Could you either send us a demo project or your project? If you contact us through [support](https://support.hockeyapp.net) so you can share code in a confidential manner?

Best,
Benjamin

[2016-12-05 21:19] cgmello commented on #373
Hi Benjamin,

Thanks a lot for your attention.
I cannot share the code, sorry for that.
But I will try to make a small demo and send it to you.

Thx.

[2016-12-05 22:02] TroubleMakerBen commented on #373
I completely understand that.
Thanks in advance for the effort you put into this. I hope we can find the cause for this.

🖖
Benny

[2016-12-06 22:31] TroubleMakerBen commented on #372
Hey @ittna,

Thanks for getting in touch and letting us know your pain points.
We've been thinking about this and we might add a target for this in the future but no promises, yet.

I'll update this issue as soon as I have news on this front.

Best,
Benjamin

[2016-12-06 22:32] TroubleMakerBen commented on #371
Hey @rwach,

I'm closing this issue as we haven't heard back from you. Feel free to re-open it at any time.

Best,
Benjamin

[2016-12-06 22:32] #371 closed

[2016-12-06 23:22] TroubleMakerBen commented on #307
Closing this as we've had it open for a couple of extra months to make sure everyone had a chance to read this.

[2016-12-06 23:22] #307 closed

[2016-12-07 00:03] TroubleMakerBen commented on #368
I just released 4.1.3 of our SDK. =)

[2016-12-07 17:39] kennymeyers commented on #368
@TroubleMakerBen Works like a charm.

[2016-12-07 17:39] #368 closed

[2016-12-15 12:48] reversepanda opened #376 "Build issue with Carthage"
Hi there,

I was not able to build the current version (4.1.3) via Carthage:

Carthage 0.9.2
Xcode 8.2

The build log says:

Is there a general fix for this (despite going manually and change signing of the test target)?

Sincerely,
Kaweh

[2016-12-15 14:06] reversepanda commented on #376
Nevermind an old Carthage installation via .pkg was overriding my latest install via homebrew. Didn't even occur to me to check which the latest Carthage version is.

[2016-12-15 14:06] #376 closed

[2017-01-04 01:48] nikosxondros opened #380 "let the spirit free"

[2017-01-04 01:48] nikosxondros opened #381 "let rhe spirit free"

[2017-01-04 02:55] nikosxondros opened #383 "let the spirit free"

[2017-01-04 03:36] nikosxondros opened #386 "let the spirit free"

[2017-01-04 19:24] #380 closed

[2017-01-04 19:24] #381 closed

[2017-01-04 19:25] TroubleMakerBen commented on #383
I'm not sure what this was all about. I've closed the issues you opened. Please refrain from opening new issues.

Benjamin

[2017-01-04 19:25] #383 closed

[2017-01-06 09:58] PyXXX opened #389 "Here is why it is empty ？？"
Sometimes the data is so obtained？

endTime = 1483696370249;
    exception =     {
        cause = "";      Here is why it is empty ？？
        name = "";       Here is why it is empty ？？
        signalInfo =         {
            faultAddress = "0x1176E8DD6 0 + 4688088534";
            signalCode = "#0";
            signalName = SIGABRT;
        };
    };

[2017-01-06 18:06] TroubleMakerBen commented on #389
Hey @PyXXX,

The exception name is not guaranteed to be available at all times as there are other causes for a crash than an exception. That said, it's pretty hard to guess what you are actually asking or what issue you are running into. Can you provide more information?

Best,
Benjamin

[2017-01-06 18:07] TroubleMakerBen commented on #373
Happy new year!

Are you still seeing this?

Best,
Benjamin

[2017-01-06 18:20] alanf commented on #360
I'm seeing something similar now, will update if/when I have more info

[2017-01-06 21:15] cgmello commented on #373
Hi Benjamin,

I'm using Hockey, but gave up of using this.

But, no problem.

Thnx!

2017-01-06 16:07 GMT-02:00 Benjamin Scholtysik (Reimold) <
notifications@github.com>:

[2017-01-09 03:05] PyXXX commented on #389
Hey @TroubleMakerBen

Stack:
    {"name":"","cause":"","signalInfo":{"signalCode":"TRAP_TRACE","signalName":"SIGTRAP","faultAddress":"0x104145D3D 0 + 4363410749"}}

No other more information, and only this, it looks good strange

[2017-01-10 18:18] TroubleMakerBen commented on #389
Hey @PyXXX,

Your data just confirms what I was writing. The crash you are seeing is not caused by an exception. To familiarize yourself with crashes on iOS, I recommend [our knowledgebase](https://support.hockeyapp.net/kb/client-integration-ios-mac-os-x-tvos/which-types-of-crashes-can-be-collected-on-ios-and-os-x).
Other than that, I still don't understand what you are expecting me to do. Some mo

[2017-01-11 11:05] qiulang commented on #367
I think @dmdeller is correct. The changed HockeySDK file caused the problem. Our .gitignore ingores binary file so when others checkout my codes they have this linker error.

[2017-01-13 09:37] jakehoskins-yv opened #391 "Disabling Feedback Manager Does not Remove feedbackObservationMode observer"

[2017-01-13 11:55] lumaxis commented on #391
This is fixed in `develop` by #390

[2017-01-13 11:55] #391 closed

[2017-01-17 17:22] elektrojunge commented on #389
I'm closing this as I can't help with the little info that was provided.
Feel free to open this issue again but please make sure to provide more context.

Best,
Benny

[2017-01-17 17:22] #389 closed

[2017-01-17 17:47] TroubleMakerBen commented on #391
FYI: I can't provide an ETA for the next release right now.

[2017-01-18 10:51] jakehoskins-yv commented on #391
Okay. I would appreciate it greatly if you could post here when the release goes out.

[2017-01-18 13:41] knutigro opened #392 "Crash in [BITCrashManager setDelegate:]"
Hi, I have a new crash which I think is related to HockeySDK (Currently v4.1.0).

So far this crash only happened to one single user and he is on a iPhone 7 (iOS 10.2.0). What is funny is that this crash is reported 31 times  for this user, so he must have lots of patience.

By the way I got this crash from Fabric Crashalytics, as I have both Hockeyapp and Fabric in the app for the moment. HockeyS

[2017-01-18 21:12] TroubleMakerBen commented on #392
Hi Knut,

Thank you for getting in touch. I think your issue has two different things to it, so let's try and break it down.

Let's do the easy bit first.

This is actually expected behavior. It's not possible to have several crash reporting sdk in one app at the same time. This means that if you setup crash reporting with HockeyApp and Crashlytics, only one SDK will be able to install it's signal

[2017-01-20 12:00] StupidDutchName commented on #367
I suspect the problem here is one of capitals. I deleted my `Pods` folder, but git saw no changes... So it works on my local machine, but not on Xcode Server. Problem is probably capitals, so easiest solution is to clean all caches on Xcode Server, or commit your project with the `Pods` folder removed, let your CI / other machines check this out (and fail), then run `pod install` and commit / push

[2017-01-24 18:37] TroubleMakerBen commented on #392
Hey @knutigro,
Sending a quick ping ;)

Benny

[2017-02-11 11:03] wiedem commented on #372
@TroubleMakerBen there's actually a very easy solution available if you could make one small adaptation to the _HockeySDK Framework_ target scheme.

If you disable the _HockeySDK FrameworkTests_ target for the _Run_ action people could build the SDK with all available build configurations using Carthage.
<img width="899" alt="HockeySDK Framework target scheme" src="https://cloud.githubusercontent.

[2017-02-13 19:07] TroubleMakerBen commented on #372
Thanks a lot to @wiedem!

We'll make this part of the next release. It'll be out by end of this month.

[2017-02-13 20:15] bbeversdorf opened #395 "BITFeedbackMessageAttachment setData Crash iOS9"
When `prepareWithItems` is called on an iOS9 device, the application will crash when `setData` is called. This does not crash on iOS10 devices. When `[self->_internalData writeToFile:self.filename atomically:NO];` is set to `[self->_internalData writeToFile:self.filename atomically:YES];` it appears to work as expected (I am not sure of the implications though).

Attached is a simple test case.

[

[2017-02-14 20:36] TroubleMakerBen commented on #395
Hey @bbeversdorf,

Wow, thanks for this! I'm able to repro this thanks to your demo and have the PR ready.
There will be a new release of the SDK, possibly next week.
I'm keeping you updated on this.

Again, thanks a lot!

Benny

[2017-02-21 15:57] amccorma opened #398 "startup exception"
Looks like there an error in the hockeyapp exception handler on startup.  I am using 4.1.1 and Xamarin.

The stacktrace is pointing to the hockeyapp library.  I can not reproduce the error.  It seems to happen on certain devices and unsure if the device has already crashed before.

**Application Specific Information:**
*** Terminating app due to uncaught exception 'System.NullReferenceException',

[2017-02-21 17:37] TroubleMakerBen commented on #398
Hey @amccorma,

Thank you for getting in touch. I'm sorry to hear you run into an issue with our Xamarin SDK.

PS: I'm closing this issue here as it is related to our Xamarin SDK and [adding the issue in HockeySDK-Xamarin](https://github.com/bitstadium/HockeySDK-Xamarin/issues/69).

[2017-02-21 17:37] #398 closed

[2017-03-01 15:49] bbeversdorf commented on #395
@TroubleMakerBen Do you have an idea when the new release of the SDK will be ready? I see that master has been updated.

-Brian

[2017-03-02 11:41] tschob opened #402 "AssetsLibrary is integrated in the default Pod but not used"
I'm currently investigating a missing photos permissions error during an app store submission. I can't find any suspicious content besides the `AssetsLibrary`. You currently integrate it in the default Pod. But it doesn't seem to be used - except in the BITFeedbackManager which is only included in the AllFeatures Spec.

Is there a reasons for the `AssetsLibrary` I missed?

[2017-03-03 20:33] TroubleMakerBen commented on #395
This was fixed as of 4.1.4 of the SDK.

[2017-03-03 20:33] #395 closed

[2017-03-03 20:40] TroubleMakerBen commented on #402
Hey Hans,

Thx for getting in touch. I agree that the AssetsLibrary doesn't need to be in the default configuration of the SDK.

You are the first one to report this issue, can you confirm with 100% certainty that the HockeySDK is the cause for it?

Please let me know ASAP so we can fix the issue in case HA is the cause for this.

Best,
Benny

[2017-03-06 18:56] TroubleMakerBen commented on #392
As I haven't heard back from you and we're not able to repro this, I'm closing this issue. Feel free to open it if it pops up for you.

[2017-03-06 18:56] #392 closed

[2017-03-06 18:59] TroubleMakerBen commented on #372
Thx to the contribution and input of @wiedem it's possible to do what you are looking for.

[2017-03-06 18:59] #372 closed

[2017-03-16 17:56] TroubleMakerBen commented on #402
This was changed in #403 and will be in the next update of the SDK. Unfortunately, I cannot give you an ETA for this.

[2017-04-21 18:26] inPhilly opened #407 "Which build for Carthage?"
I see these instructions:

Version without Feedback
carthage build --platform iOS --configuration ReleaseDefault HockeySDK-iOS
Crash-only Version
carthage build --platform iOS --configuration ReleaseCrashOnly HockeySDK-iOS
Crash-only extension
carthage build --platform iOS --configuration ReleaseCrashOnlyExtension HockeySDK-iOS

and it seems that I can only build for one version for the whole proj

[2017-04-25 20:05] q231950 commented on #362
Can't reproduce any more. Thanks for your efforts 👏

[2017-04-25 20:05] #362 closed

[2017-04-26 10:45] joseprl89 opened #410 "Metrics Manager configurable synchronize interval"
Cross-referencing similar issue in Android:

https://github.com/bitstadium/HockeySDK-Android/issues/228

Basically, the interval between batch uploads is not configurable, and defaults to 15 seconds, which can be detrimental to battery usage.

[2017-04-26 17:27] TroubleMakerBen commented on #410
Closing this as opening 3 issues makes discussion very hard. Let's use [the Android one](https://github.com/bitstadium/HockeySDK-Android/issues/228) for discussion.

[2017-04-26 17:27] #410 closed

[2017-04-26 18:38] TroubleMakerBen commented on #362
Oh, you are welcome. I'm really glad it doesn't happen anymore.
Let me know in case anything comes up and thanks for using HockeyApp!

[2017-04-26 21:34] TroubleMakerBen commented on #407
Hi @mommyme,
Thx for getting in touch.

For your use case, I would recommend to use Cocoapods or our binary integration and then use the appropriate framework for each target.
With carthage, you/we cannot customize the output folder and it's not possible to  customize name of dependency to checkout two versions, so there is no way I know of that solves your case.

Best,
Benny

[2017-04-29 01:50] TroubleMakerBen commented on #402
This was fixed in verison 4.1.5.

[2017-04-29 01:50] #402 closed

[2017-05-03 11:37] galvanu opened #415 "iOS - MetricsManager not working in today's widget extension"
Hi,

I'm trying to integrate metricsManager in our today's widget extension but for some reason I can't see the events. All looks good, the SDK doesn't throw any error/warning during initialization process but the events are not sent.

When I'm sending events (with the same code for initialization and trackEvent method) in the app and not in the extension everything works fine.

I also set both Bu

[2017-05-03 23:04] TroubleMakerBen commented on #415
Hey Gal,

Thank you for getting in touch. Our documentation is not very up to date on that part. Actually, Metrics do not work in a today widget extension.
I've added a task to our backlog to add metrics for today widgets but I can't promise an ETA for this.

Best,
Benjamin

[2017-05-04 07:12] galvanu commented on #415
Ohhh I got it.
Looks like the documentation has a section about the today widget so I was sure it is working there.
It worth updating/removing this section so people won't try to integrate the SDK in todays widget.

There is anything that I can help with pushing it?
Maybe implement this and create a pull request? Do you need any help with that?

[2017-05-04 20:53] TroubleMakerBen commented on #415
Hey @galvanu,

I'm making sure that the docs get updated. Thanks a lot for your input.

Now, talking about a PR, we happily look at and accept PRs. We're hard at work for [Mobile Center](https://www.hockeyapp.net/mobile-center/about/) so I don't know when/if we find some time to look into this myself, so go for it!

Cheers!
Benjamin

[2017-05-07 02:31] mommyme commented on #407
So basically anyone that has extensions can't use Carthage, right?

[2017-05-22 20:40] xvolks opened #419 "Swift package manager"
Is a support for Swift package manager planned ?

[2017-05-23 13:23] TroubleMakerBen commented on #419
Hey @xvolks,
we currently have no plans to support swift package manager but that can still change in the future, especially in regards to our work for [Mobile Center](https://www.hockeyapp.net/mobile-center/about/).

Best,
Benjamin

[2017-06-06 19:21] dbarden opened #422 "Compiler failure on Xcode 9"
Hey,

I just tried to compile the source code with Xcode 9 and got the following log:

[code]

To reproduce, I created a sample project with the Podfile pointing to the SDK version 4.1.5

To reproduce, I created a sample project at https://github.com/dbarden/testHockeyApp